[2019-01-23 01:22] shihzy opened #3 "include apache license"
i don't have access - but reminder to include Apache License.  and determine which platforms for the builds

[2019-01-26 08:20] #3 closed, assigned to nobody

[2019-01-28 22:55] iandanforth opened #13 "Unusually hard level?"
Playing by hand I hit level 15 and encountered a platform that started at natural floor level and then periodically descended. They key for the level was on a raised section of the room to the left of the screenshot.

<img width="330" alt="screen shot 2019-01-28 at 2 50 38 pm" src="https://user-images.githubusercontent.com/446062/51871827-54280780-230c-11e9-83e2-2db489849b3b.png">

It felt like th

[2019-01-29 01:30] seungjaeryanlee opened #14 "Got mlagents.envs.exception.UnityEnvironmentException"
Hello! Thank you for this great new environment! I was trying to install it on **Ubuntu 16.04** and encountered problem when I tried to make an environment. I downloaded the correct environment file, so I assume that I added it incorrectly? Could you help me fix this issue?

Here is what I did:

1. Setup conda environment (Python 3.6)
2. Install ml-agents v0.6.0
3. Install obstacle-tower-env
4. Do

[2019-01-29 04:32] seungjaeryanlee commented on #14
It seems like the zipped file does not have a correct extension: upon changing `obstacletower` to `obstacletower.x86_64`, the error disappears.

[This block of code from ML-agents](https://github.com/Unity-Technologies/ml-agents/blob/d3f9fd63043f1c82790d3fe35ee07dc5ed1232b9/ml-agents/mlagents/envs/environment.py#L138) is the most relevant:

[code]

My issue is resolved, but I think this issue shou

[2019-01-29 08:12] Aszev opened #15 "Antivirus detect SONAR in environment"
I downloaded environment for windows and try to run it, but  Symantec Endpoint Protection quarantined obstacletower.exe because it found there SONAR.Heur.RGC!g519 .

[2019-01-29 18:56] harperj commented on #14
I've updated the build to include the proper extension -- thanks for reporting this issue @seungjaeryanlee!  I'll close this issue now but feel free to reopen if needed.

[2019-01-29 18:56] #14 closed

[2019-01-30 00:52] seungjaeryanlee commented on #14
It works perfectly now! Thank you @awjuliani and @harperj

[2019-01-30 13:47] seungjaeryanlee opened #17 "Questions about the Rainbow / PPO baselines"
Hello! I had a few questions about the experiments specified in the paper, and thought this would be the best place to ask.

1. Will the baseline code be available? If not, will the hyperparameters be available?
2. What equipment was used to train Rainbow / PPO? (Number of CPU, Type of GPU, etc.)
3. How long did the training take for 20M timesteps?

Thank you! I am very excited for the upcoming ch

[2019-01-30 19:20] awjuliani commented on #17
Hi @seungjaeryanlee,

These are good questions. We plan to release the baseline code we used so that participants in the challenge can use it as a jumping off point for their own experimentation. We used GCP a cloud instance with a GPU. It is the equivalent of an AWS P2 instance, if you are familiar with those. Training to 20 million steps took about 24 hours on this machine, given that we were ru

[2019-01-30 22:32] harperj commented on #15
Here are the SHA checksums for `obstacletower.exe` and the `obstacletower_v1_windows.zip` file as built on our systems:
[code]

I've not been able to find any evidence of an exploit in the build myself. Could you check to ensure the checksums are the same for the builds on your own system?

[2019-01-31 03:34] seungjaeryanlee opened #18 "Will there be a discussion channel for the challenge?"
Hello again :)

I was wondering if there would be a place for discussion for participants once the challenge starts. In other competitions I have participated (OpenAI Retro Contest, Pommerman, AI for Prosthetics), they had Discord or Gitter set up. They were quite active, and useful ideas would often be communicated.

Thank you!

[2019-01-31 03:36] spMohanty commented on #18
@seungjaeryanlee : We will have a gitter channel set up for participants to communicate. There will also be a forum. We will be posting the details once the challenge launches.

[2019-01-31 03:37] seungjaeryanlee commented on #17
Thank you for the fast reply!

In case anyone who stumbles upon this issue is curious, these are the specs of the [AWS p2.xlarge instance](https://aws.amazon.com/ec2/instance-types/p2/):

[code]

[2019-01-31 03:37] #17 closed

[2019-01-31 03:44] seungjaeryanlee commented on #18
Wow awesome! Thank you @spMohanty for the blazingly fast reply.

[2019-01-31 03:44] #18 closed

[2019-01-31 07:27] tduval opened #19 "Python requirement"
I think it would be better to write down the minimum and maximum python version requirement, as by default now, every windows 10 comes with Python 3.7.x which is uncompatible with mlagents (python 3.6 max).

[2019-01-31 14:06] mortido opened #20 "Inconsistent distance for same moving commands."
I've tried the following code and it plots images with different distance to a next door.
OS: Windows 10.

[code]

[2019-02-01 00:14] seungjaeryanlee commented on #20
That's interesting! I also get slightly different images. (Ubuntu 16.04)

[code]

![yes](https://user-images.githubusercontent.com/6107926/52094180-85048700-2601-11e9-900e-317b06be3d1d.png)

I do get the same images when I check the observation immediately after reset:

[code]

![no_obs](https://user-images.githubusercontent.com/6107926/52094192-8cc42b80-2601-11e9-9650-f090506fc4e8.png)

[2019-02-01 02:40] wookayin opened #21 "Package Dependency from unity-ml is outdated"
This is mostly from an upstream issue https://github.com/Unity-Technologies/ml-agents/issues/1646, but I believe it's also worth being tracked here as well.

`unity-ml` requires a very specific, outdated version of `tensorflow`, `numpy`, etc. (and python is forced to `>=3.6 <3.7`, which shall be just 3.6+: #19). This would limit users to use recent version of softwares when developing a RL agent o

[2019-02-01 04:47] awjuliani commented on #21
Hi @wookayin

Thank you for bringing this to our attention. I completely agree that these package requirements are overly restrictive. The current issue is that we are treating both the `mlagents.learn` and `mlagents.envs` packages as one, and using one set of requirements. In fact for Obstacle Tower only `mlagents.envs` is needed, and that package has very few dependencies. I will talk with my te

[2019-02-01 05:05] awjuliani commented on #19
Hi @tduval

Thanks for pointing this out. We plan to re-evaluate the requirements to simplify them before the official launch of the challenge. There is another github issue about this, that I will consolidate this discussion to. Please feel free to continue this discussion there. https://github.com/Unity-Technologies/obstacle-tower-env/issues/21

[2019-02-01 05:05] #19 closed

[2019-02-01 07:39] Aszev commented on #15
zip archive was download from [here](https://storage.googleapis.com/obstacle-tower-build/v1/obstacletower_v1_windows.zip)

Checkums (obstacletower.exe)
md5 | ef886ffae453779ef885f6bf0698ee2e
sha1 | 7515d793ca26dd63eb85e65f410885a7fa82fc09

Checkums (obstacletower_v1_windows.zip)
md5 | cf68f5d80da14289273ee47a2fcb652f
sha1 | 1d11ef449532e365bde3b6b02812f18c83ef945b

CSV Log from Antivirus:
`Filenam

[2019-02-01 10:35] a-maumau opened #22 "Bug in stage generation?"
Hi, Nice work and I had fun with this game.

I found some bug in stage generation. (It may related to the issue#13 ?)
Sometimes when the character reach to the goal and the next stage has been generated, the character's initial position is very bad/wrong and it will cause an immediate death (sometimes between walls).

[2019-02-01 12:11] mortido commented on #20
BTW it works fine if recreate environment every time.
[code]

[2019-02-01 13:05] bjg2 opened #23 "Few questions about the environment"
Hi team! I'm thinking about doing some reinforcement learning on Obstacle Tower, so I played a bit with the environment, and have a few questions. Note that my OS is Ubuntu 18.04.1 LTS, so I'm using Obstacle Tower for Linux.

Playing manually:
* I noticed that player can see through walls if it moves the camera and is close enough, just a question is that behavior here to stay?
* I can advance thr

[2019-02-01 18:52] awjuliani commented on #20
Hi @mortido and @seungjaeryanlee

Thanks to both of you for doing this investigation. I have been able to reproduce similar results myself. Especially your recent post @mortido leads me to believe this inconsistency is due to some aspect of the environment not being completely reset on reset. I will look into this and make sure it is resolved before the launch of the contest on Feb 11.

[2019-02-01 18:55] awjuliani commented on #22
Hi @a-maumau

Thanks for pointing this issue out. I actually believe it is related to issue #20. I will be looking into the agent/floor reset code and make the changes necessary to ensure that it is both entirely deterministic, and also not impacted by the state of the character when a new floor is loaded.

[2019-02-03 18:17] seungjaeryanlee opened #24 "How to run environment on GCP?"
Hello!

I am unfamiliar with running environments that require rendering on cloud. How can I make it work on a new GCP instance?

Thank you in advance for your assistance.

[2019-02-03 21:12] awjuliani commented on #24
Hi @seungjaeryanlee,

We plan to provide a guide on using GCP to train an agent in Obstacle Tower when we officially launch the challenge on February 11th.

[2019-02-04 04:15] breezeyuner opened #25 "After jumping once, the charactor will be stuck, and cant jump again."
platform: Windows7
env: ObstacleTowerEnv

I found a wired bug here:
If the character jump once, after landing, she will be stuck at a gesture, and cant jump again, until she return to the initial standing gesture (but there is no clear method to let her recover to standing gesture, sometimes she will not recover at all even I reset the environment)

The following pictures  are recorded sequentiall

[2019-02-05 13:51] mortido opened #27 "Reward for opening a door is given before door is opened."
It looks like reward for opening 'green' door for the first time is 0.1 points but it is given a few frames before door is actually opened on observed scene... Maybe it is related to some delay for showing opened door (as I tried to go backwards and door still became opened after some frames).

Here is the code that shows it.
[code]

[2019-02-06 00:37] awjuliani commented on #13
We've addressed this issue in our internal development version of Obstacle Tower, and the version of the binary released for the contest will contain this fix. As such I am closing this issue for now.

[2019-02-06 00:37] #13 closed

[2019-02-06 00:41] awjuliani commented on #20
HI @mortido,

This level of small inconsistency is to be expected, and part of the environment. The simulation at the physics level is non-deterministic. We believe that this is actually a positive for the generalization aspect of the challenge.

For the issues between resets, we have addressed this in an internal build, and plan to release a new build to the public prior to the start of the conte

[2019-02-06 00:47] awjuliani commented on #23
Hi @bjg2,

Thanks for the feedback, and your interest in Obstacle Tower! It is nice to hear people are already benchmarking it like this.

* When it comes to the camera clipping, I agree that it isn't perfect, but we made a trade-off between the clipping and the alternative which would be to move the character outside of the center of the field of view of the camera. We felt the former was more ac

[2019-02-06 00:50] awjuliani commented on #25
Hi @breezeyuner,

Thanks for pointing this issue out. We are working to fix this bug for the Feb 11 launch of the contest. See this related issue for a discussion of the behavior over reset: https://github.com/Unity-Technologies/obstacle-tower-env/issues/20.

[2019-02-06 00:52] awjuliani commented on #27
Hi @mortido

This is actually expected behavior. The reward for opening doors is provided when the agent enters within a certain range of a closed door. The reward is provided at the same time that the animation is triggered. While the agent gets the reward immediately, the animation does not finish for a few more frames.

[2019-02-06 09:21] mortido commented on #27
Does it means that there should be some intermediate frames with partially opened door? I've saw that once (just 1 frame) but most of the time doors just appeared to be opened after some delay.

[2019-02-06 11:55] kwea123 opened #28 "How can I display the environment in Unity?"
Can I use python(jupyter notebook) to control the agent, and see the environment in Unity's window? Now it's all dark, I don't know how to turn the graphics on. Thank you.

[2019-02-07 00:32] harperj commented on #28
Hi @kwea123, thanks for the message.  In our [basic usage](https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/basic_usage.ipynb) example you can see how to plot the observations received via the Gym environment.

We have discussed adding a method for viewing the environment in the Unity window but don't support it at this time.  I'll discuss with the team how to prioriti

[2019-02-07 00:37] harperj commented on #27
@mortido This may be because every `step` call is more than a single frame.  Currently for Obstacle Tower our step frequency is every 5 frames.  Since the door opening is a small number of frames (it opens quickly), you are likely just missing some or all of the door opening frames.

[2019-02-07 01:02] kwea123 commented on #28
Thanks. Because I remember that when I used to use ml-agents (version 0.1, very old..) I can visualize the training and testing in Unity window by setting `env.reset(train_mode=False)`. Is this feature no longer available?

[2019-02-07 01:49] kwea123 opened #31 "Manually select level in Unity window"
When I played manually in Unity, once I fell down into the void at level 15, I had to restart from level 0. Is there a function to select level in the game (from the game's graphic interface, not by python)?

[2019-02-07 16:47] bjg2 commented on #23
Hey, @awjuliani, thanks for the reply. All comments make sense. Regarding xvfb, I installed it and would like to try it out, but it seems I can't google how to do it.

Tried to start it via:
[code]
and got this output:
[code]

Someone on the internet suggested nographics flag, so I tried that as well:
[code]
but I got the same error as when trying to use nographics from the environment code, huge

[2019-02-07 22:06] Christopheraburns opened #32 "Problem with google.protobuf"
I *thought* everything was installed properly (Win 10 box, Python3.6 - no Anaconda).
 I am getting this error when trying to run the notebook:

c:\users\chris\appdata\local\programs\python\python36\lib\site-packages\google\protobuf\descriptor.py in <module>
     45   import binascii
     46   import os
---> 47   from google.protobuf.pyext import _message
     48   _USE_C_DESCRIPTORS = getattr(_mes

[2019-02-07 22:22] harperj commented on #28
@kwea123 this feature is available but isn't exposed for Obstacle Tower right now.  I definitely can see how it would be useful for observing training/test runs.

[2019-02-07 22:38] harperj commented on #32
Hi @Christopheraburns,

I think you've done everything right here :-)

Looks like there's an issue with protobuf 3.6.1 on Windows: https://github.com/protocolbuffers/protobuf/issues/5046

That's the latest version via PyPI: https://pypi.org/project/protobuf/#history

In the Github issue I linked, they mention Python version can be an issue.  Could you share your Python and protobuf versions?  You

[2019-02-07 22:49] animesh-garg opened #33 "State Space"
As noted in the [paper ](https://storage.googleapis.com/obstacle-tower-build/Obstacle_Tower_Paper_Final.pdf), the observation space includes both visual input and a vector valued observation.

Does the vector valued observation space only has the number of keys and time?
Is the low-level state exposed for usage at all, for instance if we choose not to use images but train only on low level state s

[2019-02-07 22:57] Christopheraburns commented on #32
Python = 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)]
Protobuf = 3.6.1

Thanks for the quick response.

[2019-02-07 23:01] Christopheraburns commented on #32
FYI - dropping down to Protobuf v3.6.0 via

pip uninstall protobuf
pip install protobuf==3.6.0

Seems to have fixed the problem for me.

[2019-02-07 23:27] awjuliani commented on #33
Hi @animesh-garg

In the current version (and the version we will release for the challenge), the only low level state information we will provide are the number of keys and time left. We do this because for the challenge we are particularly interested in learning from pixels. After the challenge we will release an open source version where it will be possible to define additional elements in a st

[2019-02-07 23:41] animesh-garg commented on #33
Thanks a lot for the clarification.
Testing algorithms without pixels is computationally less taxing, hence the request. We will await the open source release.

[2019-02-07 23:41] #33 closed

[2019-02-08 01:34] harperj commented on #32
Glad that works out!  I think updating to Python 3.6.1 would also solve this problem.  I'll close this issue now but please let us know if you run into any more issues.

[2019-02-08 01:34] #32 closed

[2019-02-08 15:19] mortido commented on #27
Thank you for you answers. But I'm still a little bit confused. Given

and

I still have 3-4 steps between reward and door opening and all of them (except 1 sometimes) with door at fully closed state...

[2019-02-09 01:10] quentinuys opened #36 "No Unity Project in Repository"
I am unable to find any of the "Game" assets in this project. Could you explain how to open this project in unity.

[2019-02-09 01:33] awjuliani commented on #36
Hi @quentinuys,

We are not currently providing the Unity project for this environment. This is because we want to ensure that the challenge which we are about to launch is kept fair. Once the challenge is over in the summer we plan to completely open source the project.

[2019-02-09 02:42] kwea123 commented on #36
Is there going to be a huge modification on the current release? You mention "For example, we planto add additional visual themes, floor layouts, and interactive elements in future releases" in the paper, is this going to be added to the challenge?

[2019-02-09 13:01] quentinuys commented on #36
Hi Arthur.
Thank you for your response.

That is great thank you. You guys rock.

Kind Regards
Quentin Langeveldt

On Sat, Feb 9, 2019 at 4:42 AM kwea123 <notifications@github.com> wrote:

[2019-02-09 13:41] Nirenamid opened #37 "Character does not move on some rotating obstacles (v1.1)"
Hi!
Maybe there is a bug in the new version (1.1) of environment (downloaded by link from Pull Request #34 )
Some obstacles rotate with the character,
![bug_03 ok](https://user-images.githubusercontent.com/18709286/52521519-4a49c100-2c89-11e9-8d10-4838d6c0f3ed.gif)

but others - without him:
![bug_01](https://user-images.githubusercontent.com/18709286/52521520-533a9280-2c89-11e9-88ad-654ba73f342a.

[2019-02-09 14:53] kwea123 opened #38 "The exact value for each movement and the dimension of the maze"
For example, moving one step forward is 0.1m; rotating the camera one step is 18 degrees; and the size of the maze (for one block) is 3mx3m...
Is there such a table that we can refer to?

[2019-02-09 15:04] kwea123 opened #39 "The resolution of the observation"
Currently it's either 168x168 or 84x84, is there possibility to raise the resolution? Or do you consider that it's already enough for computer vision algorithms to work?

[2019-02-09 15:36] kwea123 commented on #38
Also, for the actions, can you provide information of what values correspond to what actions? For example the first dimension, does 1 = move forward or 2 = move forward? Same for other actions.

If the above information can be summarized into a table, that would be a huge help. Thanks!

[2019-02-09 17:30] awjuliani commented on #36
Hi @kwea123,

During the challenge we will provide a new binary for the second round. This will include an expanded version of the tower with more floor. The higher floors will include additional elements such as visual themes, new kinds of obstacles, and more complex floor layouts. This won't change the layout of the first 25 floors, which are the ones present in the first round, and the current

[2019-02-09 17:33] awjuliani commented on #39
Hi @kwea123,

There is a trade-off between resolution and speed. Given that almost all DeepRL research has been done in the 84x84 resolution, we believe that giving people 4x this with 168x168 can provide new opportunities for novel network architectures and training methods. 168x168 provides enough detail to solve the task. We have verified this with human players.

[2019-02-10 00:58] kwea123 commented on #39
Are you talking about ALE games? As what I know, most (or all?) of them are just 2D games, so a small image might just be good. What I want to do in this game is like doing some 3D visual odometry or SLAM-like things. For now it's seems difficult to get it to work, but I will try.

[2019-02-10 02:11] awjuliani commented on #39
Not only Atari games, but most of DeepMind's work on the Quake 3 engine is based on 84x84 images. For example, their "Impala" agent uses a 84x84 input: https://arxiv.org/abs/1802.01561.

Of course in the open source release (coming in the summer) we will make it possible to define your own output resolution, which can be arbitrarily large.

[2019-02-10 10:15] PeterZhizhin opened #40 "Save/Loads for the environment"
Hello.

Thank you very much for the environment. I'm sure that it will be very helpful for the community.

However, there is one thing that wasn't clear from the code or the documentation. For some algorithms, it is very helpful if an environment supports save/loads, e.g. recent Go-Explore algorithm from Uber.

Is it somehow possible to do this with the existing implementation?

Thank you!

[2019-02-10 13:43] kwea123 commented on #20
Is this really a bug, or only a small inconsistency?
As @seungjaeryanlee suggests, the environment is probably the same after reset, and I suspect that the inconsistency is due to the door. Sometimes the door opens slowly, which causes the agent to be blocked at the door, so the results for moving forward 20 steps (or any sequence that crosses a door) are different. So this might be expected?

Can

[2019-02-10 17:48] awjuliani commented on #40
Hi @PeterZhizhin

We do not support save/loading of the state. What is possible is to set the starting seed and floor for the episode. In this way it is possible to return to a specific floor on a specific seed of the tower.

[2019-02-11 02:06] awjuliani commented on #15
Hi @Aszev,

We just pushed a new version of the binary (v1.1). It comes with checksums to reference against. I am closing this issue now, since there is a new build. Please re-open the issue though if you are still having problems with the new builds being flagged by your anti-virus.

[2019-02-11 02:06] #15 closed

[2019-02-11 02:10] awjuliani commented on #20
Hi all,

We just pushed a new release and binary (v1.1). This includes a fix for resetting the character animator between floors and resets. This should result in much more reproducible behavior between floors. It still won't be 100% due to inherent indeterminism in the Unity physics, but it is no longer nearly as extreme as shown above, and we believe within an acceptable range.

[2019-02-11 02:10] #20 closed

[2019-02-11 02:12] awjuliani commented on #21
Hi @wookayin

This has been addressed in the just-released v1.1 package. Tensorflow and other un-necessary dependencies have been removed. On top of that we expanded the ranges for the required packages. Hopefully this makes for a more straightforward experience.

[2019-02-11 02:12] #21 closed

[2019-02-11 02:13] wookayin commented on #21
Great, thanks for your efforts in this! I checked it out and looks good.

[2019-02-11 02:13] awjuliani commented on #24
Hi @seungjaeryanlee

We just released the promised guide. It is available here: https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md

[2019-02-11 02:13] #24 closed

[2019-02-11 02:15] awjuliani commented on #25
Hi @breezeyuner

We just released v1.1 of the Obstacle Tower. This includes improvements to the timing of events in the animation system. I have attempted to reproduce this issue in the new system and have not been able to . As such I am closing the issue for now. If the issue still persists for you, please feel free to re-open.

[2019-02-11 02:15] #25 closed

[2019-02-11 10:59] Aszev commented on #15
Sorry, nothing changed, antivirus quarantine application.

"obstacletower.exe","SONAR.Heur.RGC!g519","Quarantined","Application Heuristic","SONAR","d:\work\obstacle-tower-env\env\","CY1-WL-137","*********","Infected","Quarantine","Quarantine","Leave alone (log only)","The file was quarantined successfully.","2/11/2019 12:48:55 PM"

[2019-02-11 20:18] Sohojoe opened #42 "How long does GCP take to run the Dopamine example"
Hi, I've not done much cloud training before so thought I would check it out. Typically how long does it take to train using the Dopamine example?

[2019-02-11 20:19] sterlingcrispin commented on #42
The guide says over 24 hours
https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md

[2019-02-11 20:47] iandanforth commented on #22
@awjuliani I'm seeing something similar in v1.1 (win 10)

Immediately after level transition (when playing by hand) the character be placed outside of the level which causes a reset.

[2019-02-11 21:10] awjuliani commented on #22
HI @iandanforth

By playing by hand do you mean running the binary in player mode (double clicking) or sending specific actions to the python API?

[2019-02-11 21:11] iandanforth opened #44 "UnityTimeOutException"
System: Windows 10
Python: 3.6.5
ObstacleTower: v1.1

When I run `env = ObstacleTowerEnv('./ObstacleTower/obstacletower', retro=False)` after installing the requirements I see the following:

The unity splash-screen is displayed, then a tan background appears with the main character briefly in view. She then falls off the screen leaving only the tan background.

Traceback:

[code]

Image:

![image

[2019-02-11 21:13] awjuliani commented on #42
Hi @Sohojoe

It takes about two days to reach 10 million training steps.

[2019-02-11 21:36] iandanforth commented on #44
Neeever mind. This is what happens when you try to run v1.1 of the exe with an old version of the env. Everybody else, don't do that.

[2019-02-11 21:36] #44 closed

[2019-02-11 22:05] Sohojoe commented on #42
Great, thanks!

[2019-02-11 22:05] #42 closed

[2019-02-11 22:17] iandanforth commented on #22
Player mode. I'll let you know if I encounter it through any programatic interface. I haven't yet.

[2019-02-11 22:52] stalkermustang commented on #44
Have same issue on Win10. What solution you find?
I download v1.0(!) zip with exe-file, install v1.1 libary(and examples), and then this working.
With v1.1 win zip (i checked md5 sum, all correct) i have trouble :/

AND funny moment: my computer shutdown ( D: ) after i manually run .exe file w/o python wrappers.  It's a joke, or why we have file named UnityCrashHandler32 xD ?) @awjuliani

[2019-02-11 23:54] iandanforth commented on #44
@stalkermustang Hey I had to re-install this repository. So if you have a local clone

git pull
pip install -e .

[2019-02-11 23:58] stalkermustang commented on #44
Do you have download v1.1 executable game file? Can you play it?

[2019-02-12 01:07] kfezer opened #45 "Issue Cloning Repo: Permission Denied"
git clone git@github.com:Unity-Technologies/obstacle-tower-env.git
Cloning into 'obstacle-tower-env'...
Warning: Permanently added the RSA host key for IP address '192.30.255.112' to the list of known hosts.
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2019-02-12 01:25] breezeyuner commented on #38
I guess all the information you mentioned above is a part of the challenge itself.

[2019-02-12 01:26] kwea123 commented on #45
can you try `git clone https://github.com/Unity-Technologies/obstacle-tower-env.git`?

[2019-02-12 01:29] awjuliani commented on #38
Hi @kwea123,

What each of the actions do is described in cell 3 of the jupyter notebook: https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/basic_usage.ipynb.

The specifics of how those actions impact the environment are something we'd like people to play with and discover themselves. They also vary depending on the presence of obstacles or things like whether the agen

[2019-02-12 02:10] aole commented on #44
Can't get it to work, Did you do anything else? I am able to play the game and the repository is also uptodate. @awjuliani

[2019-02-12 02:41] iandanforth commented on #44
Sorry all that's all I had to make it work. I am able to launch v1.1 by double clicking the exe. The first time I did this I got a Windows prompt that this was unverified code and I had to click through that warning.

[2019-02-12 02:57] kwea123 commented on #38
Thanks all. Closing the issue.

[2019-02-12 02:57] #38 closed

[2019-02-12 13:48] aole opened #46 "UnityTimeOutException"
I am having the exact same issue as issue #44.
Would really appreciate if someone can help me with this.

System: Windows 10
ObstacleTower: v1.1

When I run `env = ObstacleTowerEnv('./ObstacleTower/obstacletower', retro=False)` after installing the requirements I see the following:

The unity splash-screen is displayed, then a tan background appears with the main character briefly in view. She the

[2019-02-12 14:11] kwea123 commented on #22
@iandanforth @awjuliani I start to encounter this after update to v1.1 as well. For v1.0 I didn't experience things like that. I'm on ubuntu 16.04.

[2019-02-12 17:02] mehulsuresh commented on #46
Try the old version of the environment (v1) it worked for me.
Download it at https://storage.googleapis.com/obstacle-tower-build/v1/obstacletower_v1_windows.zip
for windows

[2019-02-12 18:58] Sohojoe commented on #46
I have the same issue on win10 - I was able to get the v1 training. I'm also able to run v1.1 and play manually

[2019-02-12 19:59] neutrinum commented on #46
Same here. I updated everything but can only play the v1.1 .exe manually, cannot load it as a UnityEnvironment. The old version (v1) works, but in that version the character cannot jump over walls/blocks as opposed to v1.1

[2019-02-13 00:53] awjuliani commented on #46
Hi all,

Can you try this Windows binary and let me know if it works? This resolved the issue for me locally, but I want to ensure that is the case with everyone before pushing it officially: https://storage.googleapis.com/obstacle-tower-build/v1.1/obstacletower_v1.1_windows.zip

[2019-02-13 02:14] Abdisalan opened #47 "Training on GCP costs"
Excited to start this challenge! I'm concerned about one piece though. How much would you expect I get charged if I were to train on Google Cloud Platform? The quote to use the Deep Learning VM is $294/month and I'd only be using it for this challenge. Ideally it'd be best if I could train on my own machine, but I couldn't find a guide for that.

Sorry to ask here, couldn't find an email for the c

[2019-02-13 02:30] aole commented on #46
Works for me. It displays a blank window for the game though, is that expected?

Thanks every1 for the reply!

[2019-02-13 07:02] louisgv commented on #46
@awjuliani  the new build display a blank window for me as well:
![image](https://user-images.githubusercontent.com/6723574/52692984-539d8c80-2f1a-11e9-814d-c6d14e0f7e18.png)

[2019-02-13 07:54] Sohojoe commented on #46
it is working for me - I get the blank window too (but I think I got this on v1) - also it says its a development build so optimization maybe off. I'll leave it running overnight

[2019-02-13 08:53] a-maumau commented on #22
@awjuliani I'm sorry to be late to answer.

My environment is macOS Mojave with the v1.0 binary app. and playing by myself.
Also my mates encountered on Ubuntu 16.04 and 18.04. Both of them are playing on v1.0 binary file by themselves.
So I believe it doesn't depends on OS.

I did not verify (also didn't read any of the source codes) but it might caused by the character's initial velocity at new

[2019-02-13 09:02] MarcoMeter opened #48 "Character falls through the ground upon floor transtition"
While I played OTC 1.1.1 on Windows, it occasionally happens that the character falls through the ground, while moving on to the next floor. Therefore, the episode terminates.

[2019-02-13 09:04] MarcoMeter commented on #48
redundant #22

[2019-02-13 09:04] #48 closed

[2019-02-13 09:14] neutrinum commented on #46
Yes! I also confirm everything seems to run fine so far, thank you. The blank window is also common for me both in v1 and this new version.

[2019-02-13 09:22] MarcoMeter opened #49 "Time and hardware questions on your paper"
Hi @awjuliani

on your paper, you trained PPO for 20 Mio and Rainbow DQN for 10 Mio steps. How long did it take in real-time and what hardware did you utilize?

And what time scale is used?

[2019-02-13 14:43] aole commented on #46
It would be helpful if we can see what the agent is doing @awjuliani .
Can you see the game running in other environments?

[2019-02-13 18:03] Sohojoe commented on #46
i am getting "Average training steps per second: 114.58"

<img width="458" alt="image" src="https://user-images.githubusercontent.com/4400544/52733058-9db45b80-2f76-11e9-859c-867bb91e82f4.png">
with a 1080

[2019-02-13 18:24] awjuliani commented on #47
Hi @Abdisalan

Most of our guide here (https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md) can actually be repurposed for training on a local machine.   If you do want to use GCP, a single training session of 10 million steps takes about two days straight of training.

[2019-02-13 18:28] awjuliani commented on #49
Hi @MarcoMeter

The 20 million PPO run was done on an AWS P2 instance, and took about 24 hours. The Rainbow was done on a GCP instance w/ a GPU, and took about 48 hours. Because the Dopamine version of Rainbow is not parallelized, it takes longer to collect frames.

We run the Obstacle Tower at 15x timescale.

[2019-02-13 18:29] MarcoMeter commented on #49
Thanks for the info!

[2019-02-13 18:29] #49 closed

[2019-02-13 18:29] awjuliani commented on #46
Hi all,

Glad to hear that the new binary resolves the issue for people. The window is black because we disable cameras by default in order to not render frames twice (once to the agent and once to the window). This provides a speed up. We will implement an inference model however so that people can monitor training at realtime with a rendered window.

[2019-02-13 19:14] Sohojoe commented on #46
@awjuliani can you push a release version of v1.1.1 - the one in the link is 'development build'

[2019-02-13 19:15] aole commented on #46
thanks @awjuliani

[2019-02-14 01:37] Sohojoe opened #51 "'no screens found' error when following GCP tutorial"
Hi, I am following the tutorial [Training an Obstacle Tower agent using Dopamine and the Google Cloud Platform](https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md)

I am getting the following error - I believe the problem is `(EE) NVIDIA(GPU-0): UseDisplayDevice "None" is not supported with GRID` - but I'm not sure of the root cause.

I was trying to use

[2019-02-14 02:08] Sohojoe commented on #51
OK - the problem is with the T4 GPU - I've been able to get it running with the default GPU.

It would be good to figure this out as the T4 is 1/3rd of the price

[2019-02-14 02:24] lezwon commented on #46
@awjuliani can we have the camera issue fixed? I'm getting a black screen right now.

[2019-02-14 06:20] MarcoMeter commented on #46
@lezwon The screen is supposed to stay black

@awjuliani Could you provide a fixed Linux build as well?

[2019-02-14 15:21] lezwon commented on #46
@MarcoMeter I'd like to see what the agent is doing. Is it possible to enable the cameras?

[2019-02-14 18:54] gjossep commented on #46
While using this new development build, calling env.render() does not do anything. I think that its an issue that only happens while running it on windows. Any ideas?

[2019-02-14 19:57] awjuliani commented on #46
Hi all,

We have an open PR to enable rendering to the environment window and running at realtime to observe training. That is available here: https://github.com/Unity-Technologies/obstacle-tower-env/pull/50. We plan to add it in a new release of the package in the next day or so.

[2019-02-14 19:57] awjuliani commented on #51
@ervteng Do you know about using different GPUs in this scenario?

[2019-02-14 22:10] Sohojoe opened #52 "GCP Tutorial may not be using the GPU"
When following the [GCP Tutorial](https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md) - I see Tensorflow warning that the version of Tensorflow is not optimized for the cpu.

Given that the cloud instance does include the optimized version of Tensorflow, I wonder if installing obstacle-tower-env overrides the optimized version. If this is the case, then i

[2019-02-14 22:12] awjuliani commented on #52
@ervteng Can you speak to this? We had validated internally that we were using GCP/GPU.

[2019-02-14 22:13] Sohojoe opened #53 "GCP tutorial feedback / minor issues"
[From GCP tutorial](https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md)

1. [bug] The tutorial references an old release
[code]
should be
[code]

2. [bug] **Install the Obstacle Tower Environment** is missing `cd obstacle-tower-env`
[code]
should be
[code]

3. [recomendation/discussion] I believe the config will run for 50m steps by default - maybe the tu

[2019-02-14 23:02] awjuliani commented on #53
Thanks for pointing these issues out, @Sohojoe.

@ervteng Could you take a look and make the appropriate changes?

[2019-02-14 23:41] awjuliani commented on #46
Hi all,

We’ve pushed a v1.2 release of the obstacle-tower-env which allows you to run in “real time mode” https://github.com/Unity-Technologies/obstacle-tower-env/tree/v1.2. We also pushed new binaries for Windows and Linux which should address the issues people have been having: https://github.com/Unity-Technologies/obstacle-tower-env/tree/v1.2#download-the-environment

[2019-02-15 10:57] kwea123 commented on #22
The bug persists in v1.2 (tested with linux). It appears within the first 5 floors.

[2019-02-15 15:28] kwea123 opened #54 "Bug in floor generation with realtime_mode=True"
When using `realtime_mode=False`, I can set the floor correctly.
![screenshot from 2019-02-16 00-26-23](https://user-images.githubusercontent.com/11364490/52866191-85fcf300-3181-11e9-9893-42da4176deef.png)
But using `realtime_mode=True`, no matter what floor I set, it displays floor 0, and the visual theme is also floor 0:
![screenshot from 2019-02-16 00-28-02](https://user-images.githubuserconten

[2019-02-15 16:12] miha-skalic opened #55 "Environment w/o X server"
Is it possible/how to run the simulator not having X server running?

It being required is a major drawback for usability.

[2019-02-15 16:31] MarcoMeter commented on #55
I don't know of any other solution. I'm struggling myself to get this running on CentOS without success yet.

I guess everybody will agree on this being a huge drawback. However, x server is the only thing which one comes across any ml-agents related docs or discussion. Unity needs some display to render to, if visual observations are involved.

[2019-02-15 17:04] psarras opened #56 "GCP - Deployment fail - Tensorflow resource warnings"
Hi,

I am trying to follow the tutorial for deploying on GCP. However I am getting:

![image](https://user-images.githubusercontent.com/3820417/52872146-aad27580-3143-11e9-9b54-2c2d6f5274e5.png)

Is this because my account is free? Is there a way to run this challenge with the free account or do we need to use a loca machine?

Thanks

[2019-02-15 18:16] iamchathu commented on #21
`Collecting mlagents_envs<0.7,>=0.6.2 (from obstacle-tower-env==1.2)
  Could not find a version that satisfies the requirement mlagents_envs<0.7,>=0.6.2 (from obstacle-tower-env==1.2) (from versions: )
No matching distribution found for mlagents_envs<0.7,>=0.6.2 (from obstacle-tower-env==1.2)`

[2019-02-15 18:18] awjuliani commented on #21
HI @iamchathu

What python version are you using?

[2019-02-15 18:19] iamchathu commented on #21
System
MacOS 10.14.3
Python 3.7.2 `(Python 3.7.2 (v3.7.2:9a3ffc0492, Dec 24 2018, 02:44:43) [Clang 6.0 (clang-600.0.57)] on darwin)`
pip 19.0.2 `(pip 19.0.2 from /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pip (python 3.7))`

[2019-02-15 18:19] iamchathu commented on #21
https://github.com/Unity-Technologies/obstacle-tower-challenge/issues/17

[2019-02-15 18:20] awjuliani commented on #21
@iamchathu The `mlagents_envs` package has a requirement for Python 3.7 or lower.

[2019-02-15 18:21] iamchathu commented on #21
@awjuliani which version you suggest. Because I had 2.7 default python on mac and i just download the new version from the site.

[2019-02-15 18:31] awjuliani commented on #21
@iamchathu Any Python version in the 3.5 or 3.6 range should work.

[2019-02-15 18:48] awjuliani commented on #55
Either a virtual X-server or avfb are required to run Obstacle Tower on a linux machine without a display. https://github.com/Unity-Technologies/obstacle-tower-challenge provides a docker image with xvfb already configured to use for training. We also provide instructions on setting up X-server on GCP here: https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.

[2019-02-15 18:56] awjuliani commented on #22
Hi all.

This is very strange. I spent a few hours attempting to replicate this issue, without any luck. I will continue attempting to isolate the issue so that I can try to find a fix.

[2019-02-15 19:06] awjuliani commented on #54
Hi @kwea123,

Thanks for pointing this out. It is indeed a bug, and we will try to fix it soon.

[2019-02-15 19:09] awjuliani commented on #56
Hi @psarras

Does this page help with your issue: https://stackoverflow.com/questions/45227064/how-to-request-gpu-quota-increase-in-google-cloud ?

[2019-02-15 20:53] miha-skalic commented on #55
Thanks for the reply.

It appears that Docker will have to do.

Closing the issue now.

[2019-02-15 20:53] #55 closed

[2019-02-16 02:16] kwea123 commented on #22
@awjuliani Can you try doing random actions, and save the observation to files? She will jump (or even walk) out of the walls very quickly:
![000_000135](https://user-images.githubusercontent.com/11364490/52893097-30096900-31dc-11e9-9fed-d130ecbbf067.png)

[2019-02-17 02:58] #46 closed

[2019-02-17 14:48] alejgomez commented on #14
Hello, I've encountered this same issue in the latest build. I'm using MacOS and my /ObstacleTower/ folder is under the same directory as my demo.py. I've played around with the obstacletower name (obstacletower.app) or changing the directories where the file is unzipped but nothing seems to work.
I run exactly the same 6 steps in this original post, yet I get the same error when running:

`env =

[2019-02-17 17:52] pringshia commented on #14
Also having the same issue as @alejgomez on MacOSX

[2019-02-18 10:45] psarras commented on #56
Hi @awjuliani

Yes I think it does. But I guess this means that free accounts cannot access any GPU resources.

I tried on Friday to install everything locally and do the training on my machine but I am on windows. Can you confirm if this setup works only on a linux machine? I think dopamine is the dependancy I am missing.

[2019-02-18 19:46] Sohojoe commented on #56
@psarras - i was able to get it running on my windows machine. I followed the GCP tutorial. You don't need to install dopamine as the tutorial has you running it from the dopamine directory. But you do need to install dopamine's dependencies (which are listed in the tutorial).

You do not need to worry about the XServer stuff - this is a hack to make rendering work on a headless server

[2019-02-18 19:51] psarras commented on #56
Thanks for you reply! @sohojoe

Yes you are right I was trying that as well. How did you overcome the Atary installation? I think that needed "make" isn't that Linux only? Or is Atary not needed for Obstacle tower?

[2019-02-18 20:18] Sohojoe commented on #56
I followed instructions for MSI - https://github.com/j8lp/atari-py

[2019-02-19 21:58] ervteng commented on #51
I've been able to use both T4 and P4 GPUs for training Unity environments (including Obstacle Tower). @Sohojoe do you have the `/etc/X11/xorg.conf` for the problematic machine?

[2019-02-19 22:12] ervteng commented on #52
Hi @Sohojoe, the obstacle-tower-env doesn't have a TensorFlow requirement as it doesn't install ml-agents. You can check the GPU usage with `nvidia-smi`. What type of GPU are you running locally?

[2019-02-19 23:57] ervteng commented on #53
@Sohojoe thanks for pointing out these issues!

For the config, I've put it to more than 10M intentionally, since depending on environment (e.g. for a fixed seed) the agent may continue to learn well past 10M. I erred on the side of too many steps, as you can always kill a run but it would be very disappointing to wake up in the morning and find that your run has stopped prematurely! I've added a

[2019-02-20 00:56] awjuliani commented on #22
Hi all,

We have been able to reproduce and isolate the cause of this issue. We plan to have a fix out within 24 hours to address this. Thanks to everyone who shared additional information to help us track it down.

[2019-02-20 03:39] Sohojoe commented on #53
@ervteng that sounds good - I think the main thing is to have it clear in the guide

[2019-02-20 04:53] Sohojoe commented on #51
here you go:

[code]

These are the options it gives me:

<img width="483" alt="image" src="https://user-images.githubusercontent.com/4400544/53066924-c3fe5d80-3486-11e9-99dc-6c1b8a3fc08d.png">

[2019-02-20 05:47] Sohojoe commented on #52
@ervteng - I have a GTX 1080 locally. How many training steps per second do you see?

running `nvidia-smi` shows that it is using the GPU so I wass wrong:

<img width="593" alt="image" src="https://user-images.githubusercontent.com/4400544/53068939-0deb4180-348f-11e9-8c20-063dd1a0e0a5.png">

I guess the default tensorflow does not include cpu optimizations and that is why it shows the warning:
<im

[2019-02-20 05:59] Arishtanemi2 commented on #51
I've been getting the same error too.I am using a T4 and have completed all the previous steps completely.Here is my xorg.conf file:
# nvidia-xconfig: X configuration file generated by nvidia-xconfig
# nvidia-xconfig:  version 410.72
Section "ServerLayout"
    Identifier     "Layout0"
    Screen      0  "Screen0"
    InputDevice    "Keyboard0" "CoreKeyboard"
    InputDevice    "Mouse0" "CorePointe

[2019-02-20 06:39] kwea123 commented on #52
@ervteng what do you mean by

? Then what does this mean in the README?
[code]

Also I remember that my tensorflow version was overwritten with 1.7.1 when running `pip install -e .` from this repo. Although I re-installed 1.9.0 and found that there was no problem running the obstacle tower environment...

[2019-02-20 07:32] Sohojoe commented on #52
@kwea123 obstacle tower installs a special version of ml-agents that doesn't specify tensorflow in its' install requirements file.

obstacle tower does need tensorflow to run.

The normal ml-agents specifies tensorflow 1.7.x as this is required for running the trained models from within until. obstacle tower doesn't need this.

[2019-02-20 07:35] kwea123 commented on #52
@Sohojoe Oh, I see. Sorry for the misunderstanding @ervteng

[2019-02-20 11:56] Arishtanemi2 commented on #56
Hey, this is just a suggestion.I am using the free tier too and all i had to do was enable billing on my account and i could raise the quota limit.Now my training  still consumes those free credits till they run out.

[2019-02-20 16:11] miha-skalic opened #58 "Environment speed on different systems"
Hi,
we are testing the environment on different systems and it turns out that there are major differences in performance. Bellow I report average episode time when performing random actions:
it takes ~16sec on:
- Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz + NVIDIA1080 or 2080TI (driver 410.93; cuda10)

it takes ~4sec on:
- Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz + 780TI (driver 410.73; cuda10)
-

[2019-02-20 17:07] miha-skalic commented on #58
I'm leaving the Issue open for now. But it looks more and more like it's an issue with our CPUs and config.

[2019-02-20 19:53] ervteng commented on #52
@Sohojoe you are correct, the Readme is wrong (and we'll fix it). The newest versions of OTC no longer uses ML-Agents in its entirety, and doesn't require TensorFlow. Dopamine does require TensorFlow, but as far as I know will work with most recent versions.

I'm getting about 45.61 steps per second on a T4 on GCP, but it's using only about 10% of the GPU. In our past testing, we found that the OT

[2019-02-20 22:18] awjuliani commented on #22
Hi all,

We have just pushed a new binary version (v1.2) which should fix the issues with the agent falling/exiting the floor. Please check it out here: https://github.com/Unity-Technologies/obstacle-tower-env/tree/v1.2. Be sure to install the latest `obstacle-tower-env` package which is compatible with it.

[2019-02-20 22:18] #22 closed

[2019-02-20 22:19] awjuliani commented on #28
Hi @kwea123,

As of v1.2 this feature has been added to Obstacle Tower. You will need the latest binary and python interface which you can get here: https://github.com/Unity-Technologies/obstacle-tower-env/tree/v1.2.

[2019-02-20 22:19] #28 closed

[2019-02-20 22:19] #36 closed

[2019-02-20 22:20] awjuliani commented on #37
Hi @Nirenamid

Thanks for pointing this out. We don't think it has much impact on agent behavior, but we will be addressing this in the Round 2 release.

[2019-02-20 22:21] awjuliani commented on #54
Hi @kwea123,

This has been fixed in the new v1.2 binary. Download it here: https://github.com/Unity-Technologies/obstacle-tower-env/tree/v1.2.

[2019-02-20 22:21] #54 closed

[2019-02-20 22:22] awjuliani commented on #58
Hi @miha-skalic

Can you share a little more information? This may be helpful to other users deciding where to run Obstacle Tower.

[2019-02-21 03:20] wookayin opened #59 "UnityTimeOutException: The Unity environment took too long to respond."
I am using obstacle tower 1.2 binary and `mlagents-envs-0.6.2`, under a **Linux environment**.

[code]

I get the following error:

[code]

I am correctly using the obstacletower 1.2 binary.
[code]

## Related Issue?

I checked #44 #46 but they were about Windows or before 1.2 release. I had tried out v1.0 long time ago, and I remember there was no problem at that time.

Executing the binary from

[2019-02-21 10:37] kwea123 commented on #54
I confirm that the bug is fixed.

[2019-02-21 17:34] miha-skalic commented on #58
In this case we had lower level issues, where the CPUs were running at minimal frequency (800MHz), due to some incompatibility (I don't have proper answer how/why, but fixing frequency in bios helped).

It turns out that the performance of obstacle tower is linearly correlated to CPU Frequency.

[2019-02-21 17:36] Sohojoe commented on #52
I have an i7-8700k @ 3.7GHz which has 6 processors / 12 cores

A big help to performance would be to support multiple instances of the environment within the Unity level. I regularly train with 128 concurrent agents and I'm reading some papers where they go up to 2048. I made a modification to ml-agents in my [dev branch of marathon-envs](https://github.com/Sohojoe/marathon-envs/tree/develop) whic

[2019-02-21 18:21] awjuliani commented on #58
Thanks for the information. It is good to know that performance was scaling as expected on your hardware.

[2019-02-21 18:41] awjuliani commented on #59
Hi @wookayin

Are you running this in a headless environment? Or does your linux system have a display?

[2019-02-21 19:41] GrachevArtem commented on #59
Hi @awjuliani

I also have the same problem.
It works fine on the local machine. But when I run it on a server I get the same issue.
Do I understand correctly that I need to set up Xvfb server first?

I did it and set option docker_training=True and False, but still have this problem.

[2019-02-21 19:51] wookayin commented on #59
It happened in a head-less mode, but previously I was able to run the environments in head-less mode if I remember correctly, and shouldn't it be the case?. I will try having display servers running.

[2019-02-21 20:09] awjuliani commented on #59
Hi @wookayin and @GrachevArtem

In order to run Obstacle Tower on a headless Linux machine you will either need to run xvfb on that machine (and you can use our `obstacle-tower-challenge` repo/docker image to do that https://github.com/Unity-Technologies/obstacle-tower-challenge), or run a virtual x-server. We have instructions for installing a virtual x server as part of our GCP/Dopamine guide: h

[2019-02-21 21:58] #58 closed

[2019-02-22 08:25] a-maumau opened #60 "Death among stage transition?"
Hi, I'm sorry to be like a debugger, but I still encounter a death among stage transition.
Not like #22 , but when the character reach to goal, it immediate started from stage 1.

Is the stage size is limited?
I encountered on stage 29 -> 30. (I think, not sure.)

My environment is macOS 10.14.3, v1.2 and played by myself

[2019-02-22 10:48] a-maumau opened #61 "Cube's reset floor is in the air."
Position resetting floor/tile of a cube is sometimes in the air.
Is this expected?

<img width="529" alt="screen_shot_obstacle_tower" src="https://user-images.githubusercontent.com/16185203/53237147-4da56980-36d9-11e9-8273-001da6e0cf22.png">

In my case, it was above of a high-level ground (extruded floor).
My environment is macOS 10.14.3, v1.2 and played by myself.

also it might be another issue

[2019-02-22 11:09] kwea123 commented on #60
There is no stage 29 or 30... The max is 24.
If the character completes level 24, it restarts at level 0.

[2019-02-22 11:35] a-maumau commented on #60
I confirmed.
thank you!

[2019-02-22 11:35] #60 closed

[2019-02-22 11:38] a-maumau commented on #61
It seems it is always in the air if the reset floor is placed on the high-level ground.

[2019-02-22 14:32] psarras commented on #56
@Sohojoe

I am trying what you suggested, Dopamine still has trouble picking up on the atary_py, but I will try to retrace my steps. Thank you for the suggestion.

@awjuliani

Yes you are right, I just done it and waiting approval. Will give this option a go as well, but I don't think it will be sustainable for over a large period of time for me though. Thank you as well!

[2019-02-22 18:21] awjuliani commented on #61
Hi @a-maumau

Thanks for pointing this out. It is indeed a bug, and we will work to fix it in the next release.

[2019-02-25 22:17] kfezer commented on #45
Whurps. That was a silly mistake. Sorry! That worked.

[2019-02-25 22:17] #45 closed

[2019-02-26 15:54] aole opened #62 "How many degrees does the camera turn when a single turn action is taken?"
How many degrees does the camera turn when a single turn action is taken? Is this fixed and absolute ie can be used in calculations like x turns will make the character face right?

Since I don't have much processing power to run the whole gamut (360*), I am trying to see if I can reduce the scope by some discrete angle.

[2019-02-27 00:42] awjuliani commented on #62
Hi @aole

Thanks for your question. We don't provide the exact angle that each turn command turns by, but it should be fixed for a given action taken. You should be able to use the python notebook example to determine the number of presses you'd like to use for the macro-actions you seem to be interested in: https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/basic_usage.

[2019-02-27 02:46] aole commented on #62
Thanks @awjuliani

[2019-02-27 02:46] #62 closed

[2019-02-27 21:30] twoleggedeye commented on #59
Hi I have the same issue here, I'm trying to run it in docker and getting same exception both with xvfb and with virtualgl.
[code]

[2019-02-27 21:33] awjuliani commented on #59
Hi @twoleggedeye

One potential reason for this may be that it takes longer than 30 seconds for the Unity environment to initialize and handshake with python. Our python api comes with a `timeout_wait` parameter which can be increased. Could try try with a larger value for this variable, and let us know if that resolves the issue?

[2019-02-28 08:27] zhenghongzhi commented on #51
Any suggestion on this? I also encounter into this issue.

[2019-02-28 09:12] zhenghongzhi commented on #51
I find the solution and it works for me：

delete or comment(with "#") `ServerLayout` and `Screen` section in `/etc/X11/xorg.conf` file

[2019-02-28 13:59] Holt59 opened #63 "Unexpected keyword argument 'timeout_wait' with latest version"
With the latest version, I get the following error:

[code]

...when creating an environment on [these lines](https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/obstacle_tower_env.py#L42):

[code]

Removing `timeout_wait=timeout_wait` fixes the error.

[2019-02-28 18:20] harperj commented on #63
Hi @Holt59 -- if you pulled the most recent version via git, you may have updated this package but not its dependencies (one of which adds `timeout_wait`).  You can test this by running `pip install -e .` in the top level of the cloned repo.

If not, could you share how you installed the new version?

[2019-02-28 20:51] twoleggedeye commented on #59
@awjuliani I increased timeout_wait and now able to run it with xvfb, thank you! However it doesn't run with virtualgl. Seems it tries to initialize audio driver which is obviously missing on the headless server.
[code]

[2019-02-28 21:10] awjuliani commented on #59
Hi @twoleggedeye,

Unfortunately we don't support virtualGL right now with Unity / Obstacle Tower. If you'd like to use a GPU rendering solution, we recommend running a virtual x-server. https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md#set-up-xserver

[2019-02-28 21:17] twoleggedeye commented on #59
Ok, thanks!

[2019-03-01 06:59] DejaVu2 opened #64 "multiple environments crash"
![2019-03-01 14-57-47](https://user-images.githubusercontent.com/5326579/53621743-817d1380-3c32-11e9-8576-e7125c49a56e.png)
![2019-03-01 14-58-10](https://user-images.githubusercontent.com/5326579/53621758-8b9f1200-3c32-11e9-904a-d26b10708e47.png)

[2019-03-01 11:59] Holt59 commented on #63
@harperj

I did perform `pip install -e .`, and I even re-installed `ml-agents` forcing the version to the latest `0.6.*` version available on Windows (do not remember which one it is). Another colleague of mine did the same and faced the same issue.

But I just performed a clean install from scratch on a different machine with the same python version (3.5.4 on Windows), and all went well...

[2019-03-01 16:45] lagidigu opened #65 "How can I train an Agent on multiple Environments?"
Hi,

I read the GCP tutorial on how to set up dopamine, but I cannot find out how to train the agent/brain on multiple environments simultaneously like you did during the PPO/Rainbow training.

Would it just be a matter of creating several runners?

Thanks a lot in advance,

Cheers
Luc

[2019-03-01 17:35] awjuliani commented on #65
Hi @lagidigu

With Dopamine it is only possible to train using a single environment at a time. OpenAI Baselines on the other hand allows multiple environments concurrently for a number of their algorithms (including PPO). Here are instructions for running Unity environments with baselines: https://github.com/Unity-Technologies/ml-agents/tree/master/gym-unity#running-openai-baselines-algorithms. Th

[2019-03-01 17:37] awjuliani commented on #64
Hi @DejaVu2

Can you provide a little more information about your system, such as OS, whether or not it is headless, etc?

[2019-03-01 22:03] MarcoMeter commented on #65
If used like seen below, the environment cannot establish a connection to Python. The socket somehow fails. This is tested on two Windows machines. Surprisingly, if set to one environment, two instances of the Obstacle Tower build are launched.

[code]
[code]

[2019-03-02 08:11] DejaVu2 commented on #64
Hi @awjuliani Thanks for reply
![Uploading 2019-03-02 16-08-30屏幕截图.png…]()
![2019-03-02 16-09-58](https://user-images.githubusercontent.com/5326579/53679287-bad28380-3d05-11e9-9c4a-0c5d4d9115e9.png)
It's headless

[2019-03-04 09:27] #39 closed

[2019-03-04 09:56] lagidigu commented on #65
Thanks a lot!

[2019-03-04 12:48] miha-skalic commented on #61
@awjuliani

This one might be related.

![ot_bug](https://user-images.githubusercontent.com/7152667/53734407-2e020400-3e84-11e9-9844-e91d659593d7.jpeg)

[2019-03-04 18:57] awjuliani commented on #64
Hi @DejaVu2

What command are you using to run multiple environments?

[2019-03-04 18:59] awjuliani commented on #61
@miha-skalic

I believe so. Both are related to the cube and it's reset area not being placed correctly. This will be addressed in the Round 2 release.

[2019-03-05 02:55] DejaVu2 commented on #64
I‘m using OpenAI Baselines.
It seems that Enlighten thread caused a crash.Any recommendation would be very appreciated

[2019-03-05 09:04] Holt59 commented on #63
@harperj

I just tested with the non-working installation and I had messed my virtual environment, which is why this was not working...

[2019-03-05 09:04] #63 closed

[2019-03-05 12:50] kwea123 opened #66 "How to disable the warnings?"
How to disable the warning when resetting floor, using jupyter notebook?
This is the warning:
[code]
It becomes very messy if I try to run the agent with multiple seeds and floors in a for loop.

[code]
What I found on stackoverflow, but this code doesn't work.

[2019-03-05 21:52] awjuliani commented on #64
@harperj Do you have some insight?

[2019-03-06 08:49] Holt59 commented on #66
You can retrieve the `gym` logger and set its level appropriately:

[code]

[2019-03-06 12:02] kwea123 commented on #66
Thanks, now the `WARNING:` has disappeared. But how can I also disable the `INFO` part?

[2019-03-06 12:08] kwea123 commented on #66
I got the solution:
[code]

[2019-03-06 12:08] #66 closed

[2019-03-06 18:29] PeterZhizhin opened #67 "Environment resets to different seeds after calling env.seed(0)"
Hello.

Try running this piece of code:
[code]

Run with the following command: `python run.py --realtime`
Observe the agent's environment. For me, after each reset, the room's layout is always different (sometimes the door to the next level is on the right, sometimes it is straight ahead).

In the output of the command, I see the following:
[code]

However, this is the output of UnitySDK.log:
[co

[2019-03-06 18:48] awjuliani commented on #67
Hi @PeterZhizhin

Can you confirm that you are running the latest binary available here: https://github.com/Unity-Technologies/obstacle-tower-env#download-the-environment?

[2019-03-06 18:59] PeterZhizhin commented on #67
Hi @awjuliani

Yes, I run this binary. I also figured out that running in headless mode (realtime_mode=False) makes seeds work properly according to UnitySDK.log.

[2019-03-07 04:14] ndrwmlnk opened #68 "depth"
is there a way to get a depth view for training?
e.g. def render(self, mode='depth')

[2019-03-07 04:23] kwea123 commented on #68
It will be too easy if this is provided... that being said, it is easy to train a depth prediction model by yourself.

[2019-03-07 10:45] kwea123 commented on #67
For me, it is always floor 0 and seed 0 after each reset. The first run is a completely random seed because you didn't reset it before running (there is no `env.reset()` before `while True:
episode_reward = run_episode(env)`)

So I didn't encounter any bug here.
My Unity log outputs this:
[code]
Which seems totally correct. Are you sure you're running v1.2?

[2019-03-07 18:17] awjuliani commented on #68
HI @ndrwmlnk

We plan to provide this as an option in the open source release of Obstacle Tower. For now though we want to restrict the observation space for the duration of the challenge we are running.

[2019-03-08 03:39] #64 closed

[2019-03-08 10:02] Holt59 opened #70 "Cannot launch more than 65 environments"
I tried to launch 100 environments I got a `UnityTimeoutException` when creating the 66th one. I checked multiple times and the exception always occurs on the 66th instantiation.

I am using gcloud with a K80 GPU and the memory usage is less than the available memory.

[2019-03-08 18:09] awjuliani commented on #70
Hi @Holt59

One possibility is that for some reason the port is taken for that environment. We start with port 5005 (worker_id=0) and increment from there. I would suggest trying different worker ids.

If that doesn't seem to be the issue, another thing to try would be to add a wait time between launching the environment. We've gotten reports that when launching too many Unity processes concurrent

[2019-03-08 20:03] Sohojoe commented on #70
@Holt59 you may be running out of GPU memory. I've only been able to run 2x16 locally (16 per gpu one is 1080 with 8gb other is a 1060 with 6gb). In the large scale curiosity paper they stated they where only able to get 40 unity environments running (I can't remember if it was a 4 or 8 gpu)

Also, I use a sec delay between launching each unity instance

[2019-03-08 21:01] Holt59 commented on #70
@awjuliani I've already checked the port, I'll try to add a delay between launch.

@Sohojoe I've a 12G K80 and I am only starting environment, no extra algorithms. And as I said, the GPU memory consumption (`nvidia-smi`) is nowhere near the its limit. I'll check the delay between the launch.

[2019-03-10 02:41] ndrwmlnk opened #71 "168x168x3 JPEG-type artefacts"
168x168x3 RGB observations seem to have poor-quality JPEG-type artefacts. Is this on purpose, or is it possible to get higher quality 168x168x3 RGB observations? See the marked areas in the figure (scaled 600% without interpolation).
![000_00005_scale_marked](https://user-images.githubusercontent.com/22514465/54079702-c0216680-42e1-11e9-9450-3763440cf2bb.png)

[2019-03-10 15:10] etendue commented on #23
I have the same problem to run Unity in cloud pc.
extension "NV-GLX" missing on display.

[2019-03-11 17:57] awjuliani commented on #71
Hi @ndrwmlnk

After some testing during the development process we decided to go with using jpg compression in Obstacle Tower. The reason for this is that we saw ~50% increase in simulation step throughput with it vs using uncompressed png. The thinking was that since most image datasets use jpg compression, these artifacts should be something a CV pipeline (or CNN) can deal with.

Are these artif

[2019-03-12 09:07] bjg2 commented on #23
I'm having a lot of xvfb related problems, main issue is [here](https://github.com/Unity-Technologies/ml-agents/issues/1786#issuecomment-471561253). If you're ok with it, you might train in ubuntu 16 docker.

[2019-03-15 08:45] Holt59 opened #72 "Issue with environment inside docker"
I am trying to run the docker built from the [challenge](https://github.com/Unity-Technologies/obstacle-tower-challenge) and I have some troubles (reported [here](https://github.com/Unity-Technologies/obstacle-tower-challenge/issues/29)).

While trying to work around some issues, I found a very strange "bug" within the environment. I start a bash within a docker container:

[code]

I then start a

[2019-03-15 10:26] Holt59 commented on #72
Closing since this is related to the grading environment... Would be great to force `worker_id` to `0` when `is_grading()` is `True` to have a more understanding message. I'll send a PR if I can.

[2019-03-15 10:26] #72 closed

[2019-03-15 12:13] Huixxi opened #73 "pip3 install ./ ???"

[2019-03-15 17:33] awjuliani commented on #73
Hi @Huixxi
Can you provide a little more context for your issue?

[2019-03-18 02:28] tianfanzhu opened #75 "Environment hangs up when spawning from different processes"
Hello,

I'm trying to run the obstacle tower environment through the large-scale-curiosity project. However, it seems to hangup when it tries to create the environment from its subprocesses. It prints out that the CrashReporter is initalized and the mono config paths, then does nothing for a while and hangs up with the following image:

![image](https://user-images.githubusercontent.com/35640495/5

[2019-03-19 17:07] awjuliani commented on #75
Hi @tianfanzhu

Can you confirm that you are running the latest version of Obstacle Tower (v1.2)? Also, does it work when using the basic usage python notebook we provide as an example?

[2019-03-19 21:00] tianfanzhu commented on #75
Hi @awjuliani ,

I am indeed running this on the latest version, v1.2. Also, I found out from the basic usage notebook that the screen is gray, as shown above, until the env is reset or stepped.

[2019-03-21 09:47] binoalien commented on #75
I have the same problem.
iMac end 2015
osx 10.14.3

[2019-03-21 10:04] PeterZhizhin opened #76 "Doors that require keys can be no-clipped"
Hello.

I see that my agent have learnt to no-clip doors that require a key instead of obtaining the key and going through the door this way.

What type of additional information you would like to see to fix this?

Thank you.

[2019-03-21 17:29] awjuliani commented on #76
HI @PeterZhizhin

It seems like the agent was able to discover a bug!

Can you explain under what conditions this happens? For example, is it able to phase through the door when running in realtime mode, or only when the simulation is in "fast" mode? Can you also confirm that this happens with the latest binary of Obstacle Tower (v1.2)?

[2019-03-26 05:25] rwightman opened #77 "Environment stops responding with high CPU usage"
I've started running into an issue with the environment / game engine. After running the train loop for some time, part of a day or more, the environment appears to stop responding. I haven't dug in too much yet but it appears as though it gets into a state where it doesn't respond to the python side of the step request.

Once the issue occurs, the training loop is stuck, my Python RL processes ar

[2019-03-26 23:27] awjuliani commented on #77
Hi @rwightman

Thanks for bringing this to our attention. Around the floor 10 point is also where the second visual theme is introduced. There could possibly be an issue related to that. Would it be possible to try saving out some visual observations to see where things hang in your setup?

[2019-03-26 23:57] rwightman commented on #77
Yeah, wondering if I could rig up an async thread/timer to fire on the step call not returning and dump part of my replay buffer without upsetting the GIL. Before that though, I'll see if I can attach a debugger cleanly once it's stuck, should happen in the next few hours...

[2019-03-27 06:45] rwightman commented on #77
No dice on being able to attach the debugger and see much of anything. But in this instance the issue occured on a different machine. I was trying some new ideas training from scratch, this one was training fine for several days and just died tonight as it started to hit floor 10 on occasion.

On my other machine, resuming an older model that was close to reaching floor 10 usually hits the issue w

[2019-03-27 23:21] Holt59 commented on #77
Me (and some colleagues) ran into very similar issues. We are running RL algorithms with MPI communications for the agents, and when the agent starts to reach level 10, the environments seem to crash.

I am running ~60 environments and the problem seems to appear after some hours of training, but one of my colleague ran into the same issue with a single environment.

I found some strange logs (in

[2019-03-28 00:14] Sohojoe commented on #70
@Holt59 - did you get around this? I found that some ports are in use on my PC and so did a hardcoded hack to skip them

[2019-03-28 08:21] Holt59 commented on #77
I just launch a run after posting the previous comments (before going to sleep) and it ran... 9 minutes. This is kind of annoying to advance in the competition...

`Player.log` contains different, here is the whole file: https://gist.github.com/Holt59/1679694fc3dcedbb2e9e8114c06a39bc

[2019-03-28 08:28] Holt59 commented on #70
@Sohojoe &mdash; I did not solve this but I did not look that much into it because I faced other ones... I checked the ports on my computer, and I had nothing running on these, so I don't think that was the issue.

[2019-03-28 09:34] VilmantasBal commented on #77
Hey,

are you running several Unity processes on the same machine ? While looking at the log
"rrequesting resize 84 x 84rresizing window to 84 x 84
Desktop is 1280 x 1024 @ 0 HzAAcademy resetting"

it seems that at least two processes are trying concurrently to write to log file ?

Kind regards,
Vilmantas

[2019-03-28 09:36] VilmantasBal commented on #77
Anyway, i am trying to repro this on our end. Stay tuned.

[2019-03-28 10:00] Holt59 commented on #77
@VilmantasBal Yes, as I mentioned I am running multiple environments (~60).

A colleague of mine had similar problems with a single environment but these were less frequent.

[2019-03-30 16:08] NancyFulda commented on #75
Me too. Except I'm running this via the Unity Obstacle Tower Challenge run.py script, and at startup I see the game character appear and then fall off the blank screen into nothingness. After that, empty gray screen.

iMac running 10.14.4

[2019-03-30 16:10] NancyFulda commented on #75
However, when I click on the obstacletower.app file directly, it runs flawlessly.

[2019-04-01 19:08] harperj commented on #75
Hi all, it may be difficult to tell whether everyone is experiencing the same issue.  A couple of important things to note:

- When running multiple environments, the `worker_id` value (in the environment constructor) must be set to a different integer value for each environment.  This is because the gym wrapper and the Unity executable communicate with one another via GRPC over a particular port

[2019-04-01 19:41] NancyFulda commented on #75
Hi @harperj, thanks for looking into this!

I'm directly executing run.py. Interestingly, the behavior this morning is different than it was on Saturday (maybe I rebooted in between??) I still see grayness, but the game character does not appear anymore. However, the run.py script no longer hangs, but instead prints out the reward for each episode.

Is this the expected behavior? It would be nice

[2019-04-01 20:04] harperj commented on #75
@NancyFulda This is the expected behavior.  When training, the camera isn't turned on in order to improve performance.  You can see the camera by turning on realtime mode in the environment (`realtime_mode=True` in the constructor).

[2019-04-02 06:39] rwightman commented on #77
![seq](https://user-images.githubusercontent.com/5702664/55381054-f021eb00-54d6-11e9-88a6-ee26fe4ab0ff.gif)

I wrote an env wrapper that dumps last observations when the step call doesn't return. I attached one sequence that I grabbed, it doesn't look particularly noteworthy. Hmm

[2019-04-02 06:45] rwightman commented on #77
If anyone is interested in helping debug (or work around the issue), here is a snippet of the wrapper I wrote.

[code]

[2019-04-02 08:07] VilmantasBal commented on #77
Hey Ross,

thanks, i ll take a look, this is useful.

Kind regards,
Vilmantas

On Tue, Apr 2, 2019 at 9:45 AM Ross Wightman <notifications@github.com>
wrote:

[2019-04-02 08:25] Holt59 commented on #77
I already tried with the following:

[code]

But I did not get any log, even after the program got stuck. I'll check your version if I can but it can get kind of messy with MPI.

[2019-04-02 10:15] VilmantasBal commented on #77
Hey,

can you check memory consumed by Unity process ? And total free memory of
machine ? We are suspecting there is a memory leak of some sort.

Kind regards,
Vilmantas

On Tue, Apr 2, 2019 at 11:25 AM Mikaël Capelle <notifications@github.com>
wrote:

[2019-04-02 11:16] Holt59 commented on #77
@VilmantasBal I've launch a new learning process and I'll keep you updated with the results.

However, as I mentioned, this happens kind of "randomly" &mdash; Typically after ~1 day of learning when starting from scratch, and ~2-3 hours of learning when starting from an agent that reaches level 5. But it also sometimes crashes after less than 15 minutes...

I have ~50GB memory on this VM, and each

[2019-04-02 15:06] Holt59 commented on #77
@VilmantasBal My learning after ~4 hours, highest memory usage for the environments was ~330MB, so less than 20GB for the 60 environments, far from my 50GB.

I checked the GPUs with `nvidia-smi`, with similar results.

At the end, one of the `obstacletower.x86_64` process was taking about 400% CPUs, while the others were around 0.5-2%. I try to kill the top environment, but nothing changed.

[2019-04-02 15:36] rwightman commented on #77
@VilmantasBal If there is a memory leak, it's slight and far from putting any pressure on my system. Same as @Holt59, my environment(s) are around 330-340MB.

A small memory leak wouldn't be the best explanation for the sudden lock-up and massive increase in CPU consumption when the issue occurs. You'd typically see a gradual decline in performance and responsiveness.

[2019-04-03 14:12] VilmantasBal commented on #77
OK, but where is your python training process running ? On the same machine
where Unity env are running ? How much memory consumed is by python
training ? Say in default dopamine rainbow agent implementation with
parameters provided python process can consume more than 7 gb of memory
because of experience replay buffer which stores 1 million of previous
states(frame, action, reward, next frame).

[2019-04-03 15:26] Holt59 commented on #77
@VilmantasBal I don't know if you're addressing me or @rwightman so I'll answer anyway.

Everything is running on a single host, but I am not using Rainbow, I am using PPO, so no replay buffer, The total memory used on the host is around 18-20 GB when the 60 environments and the learning process are running, and seems to remain stable throughout the learning process. The GPU memory consumption is

[2019-04-03 16:16] rwightman commented on #77
@VilmantasBal Different from @Holt59 in that I'm using a DQN style training loop with replay, and thus more memory in one process but less Python process and only 1-2 environments. The overall situation is the same though, memory usage appears stable enough after everything settles in (which takes quite a while). My system has 64GB of memory and the usage is well within that, about half the system

[2019-04-03 16:26] VilmantasBal commented on #77
Hey,

one more question about your setup: do you use docker ? Or some kind of VM
? Do you use xfvb instead of normal X server ? Software rasterizer like
llvmpipe instead of hardware accelerated drivers like nVidia proprietary ?

Kind regards,
Vilmantas

On Wed, Apr 3, 2019 at 7:16 PM Ross Wightman <notifications@github.com>
wrote:

[2019-04-03 16:45] rwightman commented on #77
@VilmantasBal I'm running on and experienced the issue on two different systems, Ubuntu 16.04 and 18.04, nvidia proprietary drivers, both in an fairly standard X11 Ubuntu MATE desktop setup. Realtime mode and thus rendering to the desktop window is disabled. The rendering for the observations looks to be using the GPU as 89MB of GPU memory is allocated by the environment process.

[2019-04-03 16:54] Holt59 commented on #77
@VilmantasBal I am running this on a GCloud VM, I followed the tutorial for Dopamine for setting up the VM https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/examples/gcp_training.md.

[2019-04-03 17:36] rwightman commented on #77
I have tried attaching GDB to the environment process when the issue happens. There isn't much to go on without symbols but it's always the same. There are 11 threads using significant CPU, one thread using a little, and then the rest completely idle.

From the instance below, threads 4-14 are all consuming approx 50% of a virtual core' worth of CPU. And 32 is using 5%. If you can provide an debug

[2019-04-03 17:40] rwightman commented on #77
@VilmantasBal noteworthy, all the threads chewing through excessive CPU once the env stops responding are waiting on the same futex. Should be easy enough to identify at least which thread those are on your end....

[2019-04-03 19:45] rwightman commented on #77
I can also make a core dump available privately if you have symbols to pair with the released exe.

[2019-04-06 04:53] Danielgarciamora opened #78 "Python 3 crash with the 'from obstacle_tower_env import ObstacleTowerEnv' line"
Python crashes with this simple line:
`from obstacle_tower_env import ObstacleTowerEnv`

I installed the obstacle-tower-env-master stuff using the file setup.py
python version: 3.7

[2019-04-06 08:16] #78 closed

[2019-04-06 08:16] Danielgarciamora commented on #78
solved after python reinstall

[2019-04-07 22:05] unixpickle commented on #77
I managed to reproduce this issue deterministically with a simple script. The script runs a certain set of actions on a certain floor and seed, and it hangs on the last step.

This should make it much easier to debug the issue. It proves that the issue has nothing to do with your training setup--**it's purely a bug in the environment.**

This reproduction works on Ubuntu 18.04, both with the envir

[2019-04-07 23:41] rwightman commented on #77
@unixpickle Not quite the exact same positioning, but the hang I captured was I think the same level and very similar, driving towards that same exit and hanging right before getting there. It'd be nice to get this sorted.

[2019-04-08 08:33] VilmantasBal commented on #77
Hey guys,

thanks a lot of this. I will try this script right away. Unfortunately,
although i had running training for more than a week now, i couldn't
reproduce the problem here locally. Perhaps this script will make it.

Kind regards,
Vilmantas

On Mon, Apr 8, 2019 at 2:41 AM Ross Wightman <notifications@github.com>
wrote:

[2019-04-08 14:47] VilmantasBal commented on #77
Hey,

just wanted to let you know that i managed to reproduce the issue with a
slight modification of your script. The key part was env.reset() function -
this one was causing the havoc, the level generation has a bug resulting in
agent being destroyed. We are working on a fix.

Kind regards,
Vilmantas

On Mon, Apr 8, 2019 at 11:33 AM Vilmantas Balasevicius <
vilmantas@unity3d.com> wrote:

[2019-04-08 17:52] miha-skalic commented on #77
@VilmantasBal thanks for preparing the fix. Can you give an estimated time when it will be ready?

Also, are there any workarounds that we could use in the meantime?

[2019-04-10 21:28] awjuliani commented on #77
Hi all,

We just pushed a new version of Obstacle Tower (v1.3) which should address these issues: https://github.com/Unity-Technologies/obstacle-tower-env/releases/tag/v1.3. Please let us know if you still see them (or anything else strange) with this new build.

[2019-04-11 13:13] unixpickle commented on #77
Still seeing hangs on higher floors (e.g. 11). Might be a different bug, as these hangs seem to happen during a reset(). I'm working on reproducing it.

[2019-04-11 17:49] awjuliani commented on #77
Sorry to hear that there are still issues, @unixpickle. If you can pin down a specific seed/floor, that would be very helpful in terms of helping us debug.

[2019-04-11 17:57] rwightman commented on #77
@awjuliani @unixpickle with version 1.2 of the environment, I did actually see a hang on a reset the other week. I didn't think much of it then, but that was likely this separate issue. Unfortunately when it happened I wasn't  monitoring for blocking of the reset call, but I am now.

[2019-04-11 20:24] unixpickle commented on #77
@awjuliani currently working on reproducing the bug in a deterministic fashion (similar to the script I posted above). However, as reproducing requires running a bunch of episodes with a compute-intensive agent, it will probably be a day or two before I can post a script that reproduces.

[2019-04-11 22:15] unixpickle commented on #77
Here's a reproduction of the bug. Like before, this script worked on two different Ubuntu 18.04 machines, and it is deterministic.

It looks like `seed 58, floor 10` is the magic bug-causer here. The other seeds seem to vary between reproductions, but I'll have to verify that.

[code]

[2019-04-11 23:26] unixpickle opened #80 "Cube stuck in the ground"
If you start at floor 0 of seed 56, and reach floor 22, you will see a box _stuck in the floor_. When you jump on the box, you shoot into the air above the ceiling. If you initialize the environment to floor 22, the issue does not occur.

[box_bug.mp4.zip](https://github.com/Unity-Technologies/obstacle-tower-env/files/3070971/box_bug.zip)

I also witnessed this on another seed some time ago, but d

[2019-04-11 23:38] unixpickle commented on #80
One of my famous reproduction scripts, working on version 1.3 of the environment.

[code]

[2019-04-12 14:12] unixpickle commented on #61
I opened #80 for the cube-stuck-in-floor bug. Didn't see that it was mentioned in this issue until now.

[2019-04-12 17:11] awjuliani commented on #80
Thanks for bringing this up @unixpickle. We have actually addressed this internally for the Round 2 release. If we can track down and solve the CPU freezing problem you are having before the end of Round 1, we can backport this fix for a new Round 1 release. If not, then it will definitely be fixed in Round 2.

[2019-04-12 17:44] awjuliani commented on #77
Hi @unixpickle,

Thanks for reproducing this so quickly. I will take a look. Knowing that it didn't happen in older versions helps narrow down the possible causes by quite a lot.

[2019-04-15 21:12] awjuliani commented on #77
Hi @unixpickle

I finally had time to attempt to reproduce you issue, and am unable to on Mac OS. I ran the script multiple times using the v1.3 binary, and the script was able to finish every time. I will attempt to reproduce on a linux environment next to see whether it may be platform specific.

[2019-04-16 18:35] unixpickle commented on #77
@awjuliani I do not have a Mac to test this on. You could try firing up a GCE instance and testing the reproduction there, although I have not tested that.

[2019-04-17 11:28] MarcoMeter opened #82 "Retrieve the number of the current floor"
Is there a possibiity to print the current floor?
I'd like to track the mean floor for my training statistics.
The property _floor is set to None as long as floor() is not called.

[2019-04-17 16:53] awjuliani commented on #82
Hi @MarcoMeter

This is currently not possible, unless you manually keep a tracker that increments every time a +1 reward is received. It makes a lot of sense though to have this more easily available. We can ensure that it is available as part of the observations in the Round 2 release.

[2019-04-18 05:54] MarcoMeter opened #83 "Strong diverging behaviors regarding realtime_mode being true or false upon inference"
I trained a model which can get a mean reward of 7 for solving seed 34 if realtime_mode is disabled.
If I set realtime_mode to true to observe the agent playing, the mean reward for multiple episodes is 1.7.

Did anybody else observe such a huge difference on version 1.3?

[2019-04-18 07:15] eito-fis opened #84 "Multi-proccesed envs slow down in background"
Hi, I have a quite weird problem and haven't had much success in debugging it.

I'm currently using a parallel env wrapper almost identical to [that of stable-baselines](https://github.com/hill-a/stable-baselines/blob/master/stable_baselines/common/vec_env/subproc_vec_env.py). The first few synchronous rollouts on 4 environments run fine at ~ 40 steps per second, but it seems to randomly drop to ~

[2019-04-18 08:10] KarolisRam commented on #83
I noticed that a deterministic policy can give different results on same seed with different realtime_mode settings back in 1.2, so different scores are not surprising.
If i remember correctly, doing 1 or 2 steps forward with realtime_mode=True would often snap the agent back to the original position repeatedly, while realtime_mode=False worked fine. I made one of my agents stutter step to combat

[2019-04-18 08:28] MarcoMeter commented on #83
I guess I'll implement a video recorder to observe the agent's performance during inference.
I'm using a stochastic policy.

[2019-04-18 17:30] awjuliani commented on #83
Hi all,

Thanks for bringing this to our attention. There should be no differences between the two modes, but clearly that is not the case. We will look into this.

[2019-04-19 03:39] kwea123 commented on #83
I noticed that sometimes when the communication between python and unity becomes slow (for example when the policy network runs slowly), it results in unexpected behavior, for example warping (suddenly appears in a totally different position).

[2019-04-19 12:34] unixpickle commented on #82
Here's the wrapper I use for this. It adds the current floor to the `info` dictionary.

[code]

The above wrapper does _not_ work if you manually change the starting floor. In that case, you can make a slight modification to the `reset()` method:

[code]

[2019-04-20 21:20] BhaskarTrivedi opened #85 "ModuleNotFoundError mlagents_envs'"
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-3928ac1f49b7> in <module>
----> 1 from obstacle_tower_env import ObstacleTowerEnv
      2 get_ipython().run_line_magic('matplotlib', 'inline')
      3 from matplotlib import pyplot as plt

~/obstacle-tower-env/obstacle_tower_env.py in <module>
      4 import gym
      5 import numpy as np
----> 6 from mlag

[2019-04-22 04:42] saroj-uta opened #86 "API number not compatible between Unity and Python. Python API : API-8, Unity API : API-6"
Have installed Unity 2018.3.13f1 on Linux Ubuntu 16.04
Based on the requirements of obstacle-tower-env, have installed mlagents 0.6.2
and mlagents-envs 0.6.2

When I try to train the obstacle-tower using mlagents-learn, I get the error
**API number not compatible between Unity and Python. Python API : API-8, Unity API : API-6**

How do I downgrade Python API to API-8?

[2019-04-22 17:28] awjuliani commented on #86
Hello @saroj-uta

It seems that you likely have another installation of mlagents with a greater version number than 0.6.2.

[2019-04-22 17:30] awjuliani commented on #85
Hello @BhaskarTrivedi

Can you explain what you are trying to run?

[2019-04-22 17:31] awjuliani commented on #84
Hi @eito-fis

Thanks for bringing this to our attention. We will take a look at it, and try to get back to you. This seems to be an macOS specific issue, and may be due to some kind of power management on that platform.

[2019-04-22 17:46] harperj commented on #84
I've noticed this as well.  I wonder if changing the run priority (e.g. https://superuser.com/questions/42817/is-there-any-way-to-set-the-priority-of-a-process-in-mac-os-x) will alleviate the problem.  This seems to specifically be an optimization for when you can't see the window.

[2019-04-22 19:35] saroj-uta commented on #86
I did pip3 install mlagents==0.6

That solved my problem. But, I am wondering, why installing from source did’t work.
I had specified mlagents version as 0.6 in the setup.py and had installed it using

Pip3 install -e .
Pip3 list | grep mlagents also showed version as 0.6 when I had installed from source.

Best Regard,
Saroj

From: Arthur Juliani <notifications@github.com>
Sent: Monday, April 22,

[2019-04-22 20:10] mengdong commented on #84
I notice this when launching env on virtual GL as well. about 50% decrease on throughput over 48 environments.

[2019-04-25 16:27] BhaskarTrivedi commented on #85
I was runnning obstacle tower competion and created latest unity environment from git. using command mentioned on unity ml-agent git
I followed command
cd ml-agents-envs
pip install -e ./
cd ..
cd ml-agents
pip install -e ./

I dig more and found the issue
mine /home/anaconda3/envs/ml-agents/lib/python3.6/site-packages has no directory mlagents_envs..
it should be there after following pip with -e

[2019-04-25 17:13] callenshaw opened #87 "GCP Training guide is broken..."

[2019-04-25 19:30] theSoenke opened #88 "Crash when Enlighten starts"
After some time of training the environments are crashing for me. I took a look at the `Player.log` file and always found this as the last lines:

[code]

Is it possible that the crashes are somehow related to enlighten? Maybe due to high CPU usage?

[2019-04-29 19:39] #87 closed

[2019-05-07 13:54] karta1297963 commented on #75
Hi @harperj  @awjuliani  I also encountered the same issue:

I tried to use ML-Agent 0.8.1 by simply let options['--env'] = 'ObstacleTower/ObstalceTower'
and set options['--num-envs'] = 2

After launching 2 envs, 1 env had the agent just spawning and falling down, another env just 'not responding', and my cpu and gpu usage of the falling-down agent env is very high.

This issue occurs in my Window

[2019-05-09 16:34] Sohojoe commented on #75
I was able to get large-scale-curiosity + Obstacle Challenge working up to about 32 agents

* make sure `worker_id` is unique for each instance
* `timeout_wait=6000`
* add a `sleep(2)` between creating each instance (i.e. 2 seconds)
* some worker_id may clash with windows - for me i needed to add `if rank >= 35: rank += 1`
* I copied the render module from OpenAI.Gym to visualize training (`realti

[2019-05-09 17:58] harperj commented on #75
Like @Sohojoe said, this looks like an issue with the connection between Python and Obstacle Tower / Unity.  It could be that the port is in use for something else, that the worker_id is not being set correctly, or that the environment takes longer than the timeout_wait to start up.  You could potentially have your script fail gracefully and re-launch on timeout as well, or try a new worker_id if

[2019-05-10 04:29] karta1297963 commented on #75
@Sohojoe @harperj thanks for helping,
I've tried the solution @Sohojoe mentioned but it didn't work, later I tried to cross-validate the compatibility between mlagent-env v0.8 and unity instance built with mlagent v0.6 (like obstacle tower)

I built 2 instances with mlagent default task - Pyramids with SDK v0.6 and v0.8 respectively, turns out one with v0.6 has the same sync issue while v0.8 insta

[2019-05-16 10:07] vkakerbeck commented on #86
In the AI Crowd forum it was said that v2.0 would include the new ml-agents version. Right now it looks like it still requires ml-agents<0.7, will there be another update?

[2019-05-16 15:04] awjuliani commented on #86
Hi @vkakerbeck

Our team had an internal discussion concerning this, and we decided to keep the requirements as-is for Round 2. The reasoning was that participants who have made it to Round 2 are already using the 0.6 release, and therefore would not benefit from the upgrade, whereas it may introduce other incompatibilities. For the open source release in a couple months we plan to upgrade to the

[2019-05-16 15:15] vkakerbeck commented on #86
Hi @awjuliani,
thank you for your fast reply! Is there some workaround how I could use the num-envs parameter introduced here https://blogs.unity3d.com/2019/04/15/unity-ml-agents-toolkit-v0-8-faster-training-on-real-games/ in order to speed up the training? It would be extremely useful to be able to use this.

[2019-05-17 11:38] htdt opened #90 "__MACOSX in obstacletower_v2.0_linux.zip"
The environment zip https://storage.googleapis.com/obstacle-tower-build/v2.0/obstacletower_v2.0_linux.zip contains extra empty folder `__MACOSX`

[2019-05-17 16:36] karta1297963 commented on #90
It's because the environment is built in macOS of Unity, the macOS will add that folder in zip file, just ignore it.

[2019-05-17 16:55] awjuliani commented on #90
Hi @htdt

Thanks for pointing this out. As @karta1297963 says, it does not impact the use of the binary, but it also should not be there. We will make a note to remove it soon.

[2019-05-18 22:01] unixpickle opened #91 "The seed() function is broken"
The seeds are not consistent across environment instances. This means there's some other source of non-determinism. I'm _guessing_ this means that contestants have access to unlimited seeds...

Demo script:

[code]

In older versions of the environment, this script works pretty much as expected.

[2019-05-19 06:56] Sohojoe commented on #91
the issue is that reset does not `env.reset()` the seed - I added a `for _ in range(50):...` before the `env.reset()` ...

![Screen Recording 2019-05-18 at 11 47 34 PM](https://user-images.githubusercontent.com/4400544/57978769-286a8380-79c8-11e9-9d13-d14408c060c1.gif)

[2019-05-19 12:10] unixpickle commented on #91
Indeed, it looks like using `seed()` actually causes the environment to stick to its current seed, regardless of the argument. This prints out something like

[code]

[code]

[2019-05-19 18:06] awjuliani commented on #91
Hi @unixpickle and @Sohojoe

Thanks for bringing this to my attention. I will take a look at it, and hopefully have fix soon.

[2019-05-19 18:48] awjuliani commented on #90
Hi all,

I've just fixed this issue. The builds online no longer contain the added mac hidden files.

[2019-05-19 18:48] #90 closed

[2019-05-19 18:49] awjuliani commented on #37
This issue has been addressed in the v2.0 build.

[2019-05-19 18:49] #37 closed

[2019-05-19 18:50] awjuliani commented on #61
Hi all. These issues should be addressed in the v2.0 release. Please re-open the thread if they are still occuring.

[2019-05-19 18:50] #61 closed

[2019-05-19 18:51] awjuliani commented on #80
This should be fixed in the v2.0 release. Please re-open if that is not the case.

[2019-05-19 18:51] #80 closed

[2019-05-19 18:53] awjuliani commented on #86
Hi @vkakerbeck

In the near-term I would recommend using OpenAI baselines to train with multiple concurrent instances of the environment. You can find instructions here: https://github.com/Unity-Technologies/ml-agents/tree/master/gym-unity

[2019-05-20 10:14] karta1297963 opened #93 "Observation Space not updated"
The code in obstacle_tower_env.py line138-142

![1](https://user-images.githubusercontent.com/14128307/58013952-5071f800-7b2a-11e9-9742-12b34a9ab33a.PNG)

Seems like the observation space haven't included ```current_floor``` variable, which will make the _flatten_obs(a function in subproc_vec_env.py from OpenAI baseline) not wrapping ```current_floor``` during return of the step function.

_flatte

[2019-05-20 14:10] vkakerbeck commented on #75
@Sohojoe do you have any additional tricks that you used to get this to work? I was waiting for the 0.8 version to be reseased with the new obstacle tower but I guess it is not going to happen... I use mlagents v0.8 with timeout_wait=6000 and sleep(2) between creating each instance. When running the code it opens all environments and plays the Obstacle Tower Title animation but once the environmen

[2019-05-20 17:23] awjuliani commented on #93
Hi @karta1297963

Thanks for bringing this up! There is currently an open PR here addressing this: https://github.com/Unity-Technologies/obstacle-tower-env/pull/92. We should hopefully get it in soon, and be able to resolve this issue.

[2019-05-21 02:44] awjuliani commented on #93
This has been addressed in v2.1 release. Please re-open if you feel necessary.

[2019-05-21 02:44] #93 closed

[2019-05-21 02:45] awjuliani commented on #91
Hi all,

We've have just pushed the v2.1 release which aims to fix this. Please let us know if you still run into an issue.

[2019-05-21 02:45] #91 closed

[2019-05-22 08:07] SungbinChoi commented on #91
Although I defined specific tower-seed when I reset the environment,
random seed is assigned instead when tower-seed >= 100.
It looks like v2.1 still has the same problem.

[2019-05-22 08:16] SungbinChoi commented on #91
Although I defined specific tower-seed when I reset the environment,
random seed(0~99) is assigned instead when tower-seed >= 100.
It looks like v2.1 still has the same problem.

[2019-05-22 15:06] awjuliani commented on #91
Hi @SungbinChoi this is actually intentional. For the duration of the contest we are limiting the random seeds to 100, to prevent participants from discovering and utilizing the review seeds. Once the contest is over we will release a version with an unrestricted seed range.

[2019-05-22 15:18] SungbinChoi commented on #91
Hi @awjuliani
I see. I didn't know that tower-seed value range is limited to 100 in Round 2. Thanks~

[2019-05-22 17:09] Sohojoe commented on #75
@karta1297963 - what platform / OS are you using?

[2019-05-22 17:20] karta1297963 commented on #75
@Sohojoe I'm using Windows 10.
I currently have a workaround by using the OpenAI baseline - SubprocVecEnv class, it works! but seems like this approach cannot have the step function return both visual and vector observation at the same time.

[2019-05-23 16:22] karta1297963 opened #95 "Add stats to image function no updated"
![1](https://user-images.githubusercontent.com/14128307/58269288-cc35a400-7db9-11e9-9f56-45d04b1ec210.PNG)

The ```_add_stats_to_image``` seems not being updated with the new vector obs - floor number

[2019-05-23 23:27] Sohojoe opened #96 "Submission problems with v2.0"
I have updated my code for round 2 / version 2 - however I am getting different outcomes on different devices.

When i run the code locally on MacBook native macos (emulating the environments​ that docker has) - it works fine and reproduces results from round 1

When I run the docker code on MacBook it runs the evaluation, but it does scores very badly (average of 1 floor)

When I submit to AI AIC

[2019-05-24 17:20] Sohojoe commented on #75
@karta1297963 - create a simple repro that spawns many instances as an example of how i do it - https://github.com/Sohojoe/many_towers

[2019-05-26 00:18] eito-fis commented on #84
v2.1 seems to solve this issue.

Thanks!

[2019-05-26 00:18] #84 closed

[2019-05-27 03:01] Sohojoe opened #97 "conflicting info on number of seeds for round2"
here it says there are 10,000 seeds - https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/reset-parameters.md

here is says there are 100 seeds - https://github.com/Unity-Technologies/obstacle-tower-env/blob/f121d5ab2d53c3fe6b643192ce0de45c02196a30/obstacle_tower_env.py#L276

Which is right?

Thanks!

[2019-05-27 04:34] Sohojoe commented on #96
ping

[2019-05-28 07:06] #96 closed

[2019-05-28 13:45] awjuliani commented on #96
Hi @Sohojoe

Apologies for the delayed response. It was memorial day weekend in the US, and I was not online. Were you able to resolve the issue?

[2019-05-28 14:57] awjuliani commented on #97
Hi @Sohojoe

Thanks for pointing this out. The seeds for Round 2 are limited to 100. After the competition we will enable support for 10,000 seeds. That is what the documentation refers to. This is obviously misleading, and I will change it.

[2019-05-28 15:01] awjuliani commented on #95
Hi @karta1297963

This was a conscious decision. As the floor number can go up to 100, we felt that it would not be helpful to agents learning from the image to display this information visually.

[2019-05-28 19:17] Sohojoe commented on #96
yes - the AI Crowd guy posted the logs - it was a v2.1 vs v2 problem. It is scoring as expected so I'm all good now. thanks!

[2019-05-28 22:27] spMohanty commented on #96
@Sohojoe : I am assuming that means that that was resolved 👼  !

[2019-05-30 04:19] SungbinChoi opened #98 "reset env with default theme is not working"
When I create an UnityEnvironment and then reset it with specific default theme option, first time it's done as I specified. But then I reset env with different default theme option, env theme is not changed.

e.g.,

// Create env
env = UnityEnvironment(  ...)

// Reset with theme '1'
reset_params = {}
reset_params['default-theme'] = 1
reset_params['visual-theme'] = 0
info = env.reset(config=reset

[2019-05-30 21:36] awjuliani commented on #98
Hello @SungbinChoi

This is indeed a bug. We will address it in a future release. Right now a workaround is to reset by changing the seed, and then change it back and that will allow the theme to change.

[2019-05-31 14:30] vkakerbeck commented on #98
Hi,

I have a similar issue. I am using a curriculum and some of the parameters, including the visual theme , don't seem to reset correctly (visual theme when reset for the second time, other fail also on the first time). I've noticed it first when the agent would walk past the 5th floor without picking up a key even though the lesson had allowed_rooms set to 1 or 2. When starting the curriculum i

[2019-06-03 17:54] awjuliani commented on #98
Hi @vkakerbeck

It sounds like your issues are indeed related. I will do my best to have a fix for everyone soon.

[2019-06-07 05:32] Sohojoe opened #99 "Some seeds are jumping levels...."
Some seeds skip levels:

see video - https://twitter.com/iAmVidyaGamer/status/1136867273057030144

so far I have found the following

Seed 5 - jumps from level 2 to level 4
Seed 1 - jumps from level 3 to level 5
Seed 1 - jumps from level 9 to level 11
Seed 38  - jumps from level 2 to level 4
Seed 38  - jumps from level 9 to level 11
Seed 52  - jumps from level 9 to level 11

[2019-06-07 08:27] MarcoMeter opened #100 "Unnecessary resets?"
I just ran a script that runs my agent on each seed starting at seed 0.
The environment is reset before the beginning of an episode.
In the UnitySDK.log, I observed that there is an additional reset, which is redundant.

Does this mean that the whole tower is getting generated all over again?
In this case, this would waste quite some valuable training time.

[code]

[2019-06-07 14:59] awjuliani commented on #99
Thanks for pointing this out @Sohojoe. It is indeed a serious bug, and likely impacting the scores on the leaderboard. I looked into it and have found the cause and made a fix. Once it has been reviewed, we will roll out a new version of the tower which addresses the issue.

I appreciate your persistence in tracking down the cause of the strange behavior you were seeing. Sending the specific seeds

[2019-06-07 15:08] awjuliani commented on #100
Hi @MarcoMeter

When the tower resets and the seed and other reset parameters have not changed, then the tower is not regenerated. It is only when one of these things change that the regeneration process takes place.

[2019-06-07 16:04] Sohojoe commented on #99
@awjuliani - that's great to hear there is a fix so soon! I would never have thought to look into this had we not had the exchange on twitter!

[2019-06-08 09:58] MarcoMeter commented on #100
thanks for the clarification!

[2019-06-08 09:58] #100 closed

[2019-06-10 20:13] awjuliani commented on #99
We've just pushed v2.2, which should address this issue. It may take a few hours for AICrowd to correspondingly update their evaluator build however, just fyi.

[2019-06-10 20:13] #99 closed

[2019-06-10 20:13] awjuliani commented on #98
We've just addressed this issue in v2.2. Closing this for now, but please feel free to re-open if the issue persists.

[2019-06-10 20:13] #98 closed

[2019-06-12 18:46] Sohojoe opened #102 "v2.2 is still skipping a level"
see https://twitter.com/iAmVidyaGamer/status/1138879798535569408

this is the only instance I've seen

[2019-06-12 21:49] awjuliani commented on #102
Hi @Sohojoe

Thanks for pointing this out. It turns out that this is a separate bug from the previous one. I will look into it tomorrow.

[2019-06-14 15:54] spMohanty opened #103 "Unable to install otc env in py37"
[code]

[2019-06-14 15:58] spMohanty commented on #103
This seems to be causing a lof build failues in the [OTC challenge](https://www.aicrowd.com/challenges/unity-obstacle-tower-challenge) after we upgraded `aicrowd-repo2docker` to use `nvidia/cuda:10.0-cudnn7-runtime-ubuntu18.04` [as the base image](https://discourse.aicrowd.com/t/announcement-aicrowd-repo2docker-base-image-update/1195).

[2019-06-14 16:35] Sohojoe commented on #103
@spMohanty  - ml-agents only supports python 3.6 `python_requires=">=3.6,<3.7"` reference https://github.com/Unity-Technologies/ml-agents/blob/master/ml-agents/setup.py

[2019-06-14 17:27] spMohanty commented on #103
@Sohojoe : Yeah, I saw that. This issue was mostly for extending support forr `py37`.
(Though in the short term participants can choose py36 in their runtime specification using `aicrowd-repo2docker`, just a bit worried that it might cause some confusion among participants.

[2019-06-14 19:28] awjuliani commented on #103
Hi @spMohanty

As @Sohojoe says, we are requiring users to have 3.6 as their environment. This has been the case since Round 1, so all participants in Round 2 should know what to do. We make this explicit on the `obstacle-tower-env` page. I am happy to add a notice somewhere else in the documentation if you believe it would be helpful. In a future version of Obstacle Tower we also plan to fully su

[2019-06-18 16:17] Sohojoe opened #104 "Is the environment supposed to be deterministic?"
In my experiments (recording inputs, then playing them back on the same level/seed) - sometimes it is deterministic and other times it is not) - I'm not sure if it is a bug in my code or a quirk of the environment

thanks!

[2019-06-18 16:34] awjuliani commented on #104
Hi @Sohojoe

We've done our best to make the environment as deterministic as possible. That being said, Unity physics are inherently non-deterministic, and there will be minor differences between runs.

[2019-06-18 17:15] ktan38 opened #105 "Trouble sshing into my VM instance"
I am trying to monitor my training using tensorboard.

Which IP address should I be connecting to, (external, internal)... and the is the username my username for my GCP account? Or the username for my local machine?

Right now, using the external IP address gives me Permission Denied (publickey), and using the internal IP address gives me either connection refused or operation timed out.

Any hel

[2019-06-18 19:41] Sohojoe commented on #104
OK thanks!

[2019-06-18 19:41] #104 closed

[2019-06-19 14:54] awjuliani commented on #105
Hi @ktan38

Here is a guide which should provide the information you need: https://www.apoehlmann.com/blog/connecting-tensorboard-your-google-cloud-vm-port-forwarding/

[2019-06-20 17:32] awjuliani commented on #102
Hi @Sohojoe

We've just updated the v2.2 build to change the depth of the entry and exit doors to prevent them from ever overlapping. Let us know if any levels are still skipped!

[2019-06-22 18:22] Sohojoe commented on #102
The new version fixes the issue. thanks!

[2019-06-22 18:22] #102 closed

[2019-07-01 14:09] BerkayDemirel commented on #83
Anyone managed to find a solution / work around for this bug? Tried stutter stepping but it seems to make it even worse, showing walking animation but snapping back to the same place.

[2019-07-05 12:14] gloryVine commented on #14
Me too.

[2019-07-16 05:59] juge2 commented on #51
For me only removing `Option         "UseDisplayDevice" "none"` in "Screen" Section does also the trick.

[2019-07-21 14:46] gloryVine commented on #14
Is there nobody at Unity who can answer this?

[2019-07-22 14:06] #47 closed

[2019-07-22 20:46] awjuliani commented on #14
Hi all.

Please ensure that your working directory is the directory within which the `ObstacleTower` folder exists.

[2019-07-27 12:49] PartiallyTyped opened #106 "Unsolvable floors"
i encountered an unsolvable floor, the tower is 75 and the floor is 20. There is a box puzzle and key requirement. There is no tile to place the box nor a key.

[2019-07-29 17:27] awjuliani commented on #106
Hi @isotropic-panda,

I just checked Tower 75 Floor 20. It is indeed solvable. The goal area for the block is in the middle of the room.

![Screen Shot 2019-07-29 at 10 27 17 AM](https://user-images.githubusercontent.com/9065325/62068727-7cc18900-b1eb-11e9-9a21-bbf56e7150a1.png)

[2019-07-30 11:03] isotropic-panda commented on #106
Hi @awjuliani ,

Thanks for checking it out. This is weird because I was running the floor manually and checked everywhere but there wasn't a goal area. This was run on ubuntu 19.04. It could have been a visual glitch.

[2019-07-30 17:42] awjuliani commented on #106
@isotropic-panda

If you are able to reproduce it again, please let me know. If there is indeed some issue with this floor (and perhaps a rendering glitch on linux), that is something we would obviously want to fix.

[2019-07-31 06:39] isotropic-panda commented on #106
Okay I will let you know. Is it possible to launch specific towers and floors directly from the binary? In the mean time, feel free to close this.

[2019-07-31 17:01] awjuliani commented on #106
Hi @isotropic-panda

Currently the only way to set this is by using the reset parameters via the python api: https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/reset-parameters.md

[2019-10-20 07:56] xlnwel opened #110 "Incompatible between Unity and python"
I run obstacle tower on Ubuntu 18.04 and receive the following error messages

But I've already install the latest mlagents. Here is a snippet of `pip list`

mlagents-envs        0.10.1
mock                 3.0.5
more-itertools       7.2.0
mpmath               1.1.0
nbconvert            5.6.0
nbformat             4.4.0
notebook             6.0.1
numpy                1.17.2
obstacle-tower-env   3.1

[2019-10-20 08:54] MarcoMeter commented on #110
Hi,

your Obstacle Tower Build is most likely outdated:

Linux (x86_64)
https://storage.googleapis.com/obstacle-tower-build/v3.1/obstacletower_v3.1_linux.zip

Mac OS X
https://storage.googleapis.com/obstacle-tower-build/v3.1/obstacletower_v3.1_osx.zip

Windows
https://storage.googleapis.com/obstacle-tower-build/v3.1/obstacletower_v3.1_windows.zip

[2019-10-20 09:28] xlnwel commented on #110
Hi,

I download links you provide, and double click the x86_64 file. I get the following error

<img width="561" alt="image" src="https://user-images.githubusercontent.com/10184153/67157453-fb4b4400-f35e-11e9-86b4-27c9789a73db.png">

[2019-11-06 14:51] djsaunde opened #111 "Problem launching obstacle_tower_env"
I installed the latest version of `obstable_tower_env` and downloaded the `obstacletower` binary. Running the notebook and launching the environment, after the "Made with Unity" and "Obstacle Tower Screen", I get the following screen:

![image](https://user-images.githubusercontent.com/1245942/68308324-aad02800-007a-11ea-9e8f-f8501dad2987.png)

I'm running Ubuntu 18.04.3 LTS.

Any idea how to get

[2019-11-06 22:57] awjuliani commented on #111
Hi @djsaunde

Sorry you are having issues with the binary. Can you try two things and let me know the results? First, can you launch the binary independently, and ensure that you are able to control the agent using the keyboard? Secondly, when you launch the environment via the jupyter notebook, can you share what information is displayed in the notebook? The application may appear to freeze if it

[2019-11-07 12:32] djsaunde commented on #111
Hi @awjuliani, thanks for the reply. You're right, the binary just seemed to freeze because it was waiting on communication from python. Looks like everything is working fine!

[2019-11-07 12:32] #111 closed

[2019-11-16 16:00] nmichlo commented on #83
I have just noticed that in realtime mode doors open instantly, while when realtime is not enabled doors only open after quite a few steps.

[2020-01-08 09:55] PartiallyTyped opened #113 "Is it intended for this theme to show both up and start with the same icon?"
I was running OT, initialized from python, with random theme, random seed and here the door to the next floor is the same as the starting door. Is this intended?

<img width="708" alt="Screenshot 2020-01-08 at 11 53 05 AM" src="https://user-images.githubusercontent.com/52372765/71968404-8412a700-320d-11ea-8d2b-527ba65ca603.png">

[2020-01-12 17:38] clemens-tolboom commented on #103
Ran into this too. https://github.com/Unity-Technologies/obstacle-tower-env#requirements mentions **3.5 - 3.7** so that is wrong.

[code]

[2020-01-14 18:52] #103 closed

[2020-01-14 19:07] awjuliani commented on #113
Hi @Solliet

Thank you for pointing this out. It is indeed a small bug in the texture file for the exit door of the "Future" theme which has the arrow direction flipped. I will post a fix.

[2020-05-07 09:16] albertbou92 opened #115 "Is it possible to specify in which GPU I want the environment to run?"
I have seen that, by default, all instances of the obstacle tower environment I start run in the primary GPU (in my case GPU:0). Is it possible to specify in which GPU I want each instance to run so I can distribute the load?

Thank you

[2020-05-07 18:32] awjuliani commented on #115
Hi @albertbou92

You can pass this as a command line argument when the Unity executable launches: https://docs.unity3d.com/Manual/CommandLineArguments.html

`-force-device-index`

[2020-05-07 20:27] giadefa commented on #115
Hi Arthur,
this command works for linux? It says MacOs only.
When using Metal, make the Editor use a particular GPU device by passing it
the index of that GPU (macOS only).

On Thu, May 7, 2020 at 8:32 PM Arthur Juliani <notifications@github.com>
wrote:

[2020-05-07 20:37] awjuliani commented on #115
It does. There are two sets of command line arguments in that document, one is for the editor, the other is for standalone builds. The instructions for standalone builds states that the argument works on windows, mac, and linux. It looks though that Vulkan is required.

<img width="1057" alt="Screen Shot 2020-05-07 at 1 36 45 PM" src="https://user-images.githubusercontent.com/9065325/81342286-d81c

[2020-05-14 13:13] JeniaJitsev commented on #115
Hey folks,
I have the same endeavor right now with ml-agents. There seems to be an undocumented flag to switch GPUs according to this here:
"There is a Unity command line option -gpu # which lets you select which GPU Unity apps run with
UnityApp.exe -gpu 1
editor.exe -gpu 0
I haven't seen this command line argument documented but it let's me test on my integrated and dedicated GPU."
https://stacko

[2020-05-14 16:40] awjuliani commented on #115
Hi @JeniaJitsev

Does the `force-device-index` flag not work for you?

[2020-05-20 18:17] JeniaJitsev commented on #115
Hey @awjuliani ,
doesn't seem like. I use `-force-vulkan` and see also Vulkan debug output, but Unity instances are all put on device index 0 independent of what I specify for `force-device-index`

[2020-05-20 20:06] JeniaJitsev commented on #115
Situation is following: machine has 4 RTX GPUs. I would like to have a run setup, where following happens:

GPU 0 : Unity Rendering
GPU 1 : CUDA (training)
GPU 3 : Unity Rendering
GPU 4 : CUDA (training)

I can control CUDA (training part) just perfect by setting corresponding `CUDA_VISIBLE_DEVICES`. However, Unity Rendering always lands at GPU 0, no matter how I assign the `force-device-index` fl

[2020-05-21 17:19] awjuliani commented on #115
This may be a Unity bug, I would recommend asking about it in the official Unity forums. There is a linux section: https://forum.unity.com/forums/linux.109/?_ga=2.221155870.701444405.1590081452-1673116819.1520720368

[2020-07-02 08:29] MarcoMeter opened #118 "Not all reset parameters work"
Hi,

I just checked out the newest version and came across a problem concerning the reset parameters.
It looks like that the parameters `visual-theme` and `default-theme` do not have any effect.
I tested this on the provided Jupyter Notebook. The build from the registry and the download link were tried on Windows.

[code]

`starting-floor`, `agent-perspective`, and `seed` realize the expected beha

[2020-07-08 06:29] #118 closed

[2020-07-08 14:50] MarcoMeter opened #120 "UnityGymException may be triggered inside _check_agents()"
Hi @awjuliani

I came across another bug.

Inside the function [_check_agents()](https://github.com/Unity-Technologies/obstacle-tower-env/blob/master/obstacle_tower_env.py#L385) it may happen that `n_agents` equals 0 and therefore triggers the exception. It is not clear to me yet what causes this bug.

To reproduce it, I have to run a lot of episodes to eventually stumble on this behavior. If I tr

[2020-07-08 17:14] awjuliani commented on #120
Thanks for pointing this out and providing a fix. I'll close this issue now.

[2020-07-08 17:14] #120 closed

[2020-07-29 07:56] giadefa opened #124 "PyTorchRL: Modular and scalable reinforcement learning in pytorch reaching new high in obstacle tower challenge"
Hi,
don't know if it is the right place, but it is probably relevant for anyone interested in obstacle-tower-env.

https://arxiv.org/abs/2007.02622

We have scaled up our second position approach in the official challenge. We now reach a max of 23.6 floors on the test seeds and consistently above 20. Good news is that there is more work to do, as it does seem to plateau with the current method. Th

[2020-07-29 10:06] MarcoMeter commented on #124
Hi!

I could imagine a section on the readme.md to list such publications.

[2020-07-29 17:36] awjuliani commented on #124
Hi @giadefa

This is great work to see, and I have no problem keeping this issue open so it can be discovered. The work is relevant to helping others who might want to get started doing research with Obstacle Tower.

[2020-09-02 05:37] Kasidit0052 opened #125 "mlagents_envs shutdown with return code 0"
Hi, I'm trying to launch obstacle tower environment. However, the obstacle env window close. This is the log

    INFO:mlagents_envs.environment:Environment shut down with return code 0.

I'm using mlagents 0.19.0 and mlagents-env 0.19.0. Does obstacle-tower-env support mlagents-env 0.19?, since I have encountered an error about mlagents-env earlier during environment installation.
Thank you

[2020-09-02 17:21] awjuliani commented on #125
Hi @Kasidit0052, can you share what platform you are running Obstacle Tower on? The latest Obstacle Tower was tested with ML-Agents release 3, which corresponds to the python package 0.17. I don't imagine there would be an incompatibility with 0.19, but just in case, it may be worth testing with the earlier version to be sure. Another good way to check whether there is an issue with the binary of

[2020-09-03 11:28] Kasidit0052 commented on #125
Thank you for your response, I am running Obstacle Tower on Mac OS Catalina 10.15.6. Now, I'm trying to download binary separately for Mac OS X. However, I'm not sure about the problem since The Obstacle Tower application which I have just downloaded work fine.

[2020-09-03 18:02] awjuliani commented on #125
Just to be clear, you are saying that the binary you downloaded yourself works fine, but the one auto-downloaded by the gym wrapper is giving you issues?

[2020-09-03 18:39] Kasidit0052 commented on #125
Yes, I have solved the problem by configuring the binary path to the newer binary ( download by myself).

[2020-09-17 12:19] vkakerbeck opened #126 "Visual Observation Size not high resolution (168x168x3)"
Hello,

I've been working with the Obstacle Tower Environment version 2.2 for a while and have recently downloaded the newest version. However, this new version now always returns observations of size 84x84x3, even if retro mode is set to false. Is there another parameter that I need to set to get the high resolution images again.

To test I run:
from obstacle_tower_env import ObstacleTowerEnv
env

[2020-09-17 13:49] MarcoMeter commented on #126
Hi @vkakerbeck

this is an unintended behavior of the provided build. From the source I can tell that the agent's camera sensor is falsely set to 84x84. To solve your issue, a fixed build has to be provided. @awjuliani

An alternative for you is to make a fixed build yourself from source using [obstacle-tower-source](https://github.com/Unity-Technologies/obstacle-tower-source).

![sensor](https://

[2020-09-17 13:54] vkakerbeck commented on #126
Hi @MarcoMeter

thank you for the fast reply and that insight, I thought I was going crazy! I will make a new executable from the source project with the higher resolution then and everything should work fine again :)
Thank you again and have a great day

[2020-09-17 13:54] #126 closed, assigned to nobody

[2020-09-17 14:11] MarcoMeter commented on #126
No problem.

I just came to think of that you are using v2.2.
If you make a new build, you will have to upgrade to the latest version of obstacle-tower-env as well.

[2020-09-28 03:58] #77 closed

[2020-11-11 09:30] zeromodule commented on #51
@zhenghongzhi @juge2 guys you've helped us so much! thank you!

[2021-02-04 20:47] jfhauris commented on #86
I have most updated ml-agents 1.7.2 and am now getting same issue.:

 Version information:
  ml-agents: 0.22.0,
  ml-agents-envs: 0.22.0,
  Communicator API: 1.2.0,
  PyTorch: 1.7.0+cu110
2021-02-04 15:44:20 INFO [learn.py:275] run_seed set to 7748
2021-02-04 15:44:22 INFO [environment.py:205] Listening on port 5004. Start training by pressing the Play button in the Unity Editor.
2021-02-04 15:44:

[2021-02-05 18:19] awjuliani commented on #86
Hi @jfhauris

I would recommend using the latest supported version of ML-Agents with Obstacle Tower, which is 1.1.

[2021-02-11 08:09] giadefa commented on #124
HI,
We have just release the final version of PyTorchRL:
https://github.com/PyTorchRL/pytorchrl
Main points are:
- It is scalable on multi GPUs and multi nodes and
- It provides a modular approach which helps in developping multiple algorithms, both on-policy and off-policy, We provide several.

and the final paper:
https://arxiv.org/abs/2007.02622

The docs:
https://pytorchrl.readthedocs.io/en/la

[2021-08-17 01:40] armando-fandango commented on #115
2021 and this option isnt working still

[2021-11-13 18:37] JustinS6626 opened #127 "Obstacle tower is incompatible with current numpy versions and mlagents_envs version"
I am trying to install the obstacle tower gym environment, and it appears that it is not compatible with the latest numpy release, and will only work with older versions up to a certain point. When I attempt to install using setup.py, I get the following error:

[code]
When I tried to run the evaluation example, I got the following error:

[code]

I tried to install the newest mlagents_envs versio

[2022-01-17 22:35] tljstewart opened #128 "Is this project dead?"

[2022-05-30 11:33] MarcoMeter commented on #128
I just looked into updating Obstacle Tower. Updating ml-agents is not a problem. However, updating Unity messes up the lighting. I don't really have time to debug this and I believe there is no one officially maintaining this repository.
At least here is the version with updated ml-agents and Unity version. Maybe someone can approach this lighting issue.
https://github.com/MarcoMeter/obstacle-towe

[2022-06-28 14:25] andrearlotta commented on #115
still

[2022-07-05 01:50] armando-amzn commented on #115
people who are using -force-vulkan on linux for -force-device-index, make sure that you are using the vulkan build while building the standalone binary. If the standalone binary is built using opengl, how can you force it to run vulkn :-)

[2022-07-05 01:52] armando-fandango commented on #115
people who are using `-force-vulkan` on linux for `-force-device-index`, make sure that you are using the vulkan build while building the standalone binary. If the standalone binary is built using opengl, how can you force it to run vulkan :-)

[2022-10-07 06:42] havokentity commented on #88
Happens for me too on some 6th gen intel PC's but the weird thing is my project doesn't even use enlighten!